{% extends '_layout/_l_three_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
    <div id="selection_list">
        <a class="list-group-item list-group-item-action active" href="{% url 'record_session_list' record.id %}">Sessions</a>
    </div>
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title">Record - {{ record.name }}</h2>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">

                    <div class="card p-0 col-5">
                        <h3 class="card-header">Info:</h3>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Record Type:</b></td>
                                    <td class="d-inline-block col-8">{{ record.get_record_type_display }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Reel:</b></td>
                                    <td class="d-inline-block col-8">{{ record.reel }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Archive:</b></td>
                                    <td class="d-inline-block col-8">{{ record.archive.name }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Earliest Session:</b></td>
                                    {% if record.earliest_session.id %}
                                        <td class="d-inline-block col-8"><a href="{% url 'session' record.earliest_session.id %}">{{ record.earliest_session.village }} - {{ record.earliest_session.law_term }}, {{ record.earliest_session.date.year }}</a></td>
                                    {% else %}
                                        <td class="d-inline-block col-8">None</td>
                                    {% endif %}
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Latest Session:</b></td>
                                    {% if record.latest_session.id %}
                                        <td class="d-inline-block col-8"><a href="{% url 'session' record.latest_session.id %}">{{ record.latest_session.village}} - {{ record.latest_session.law_term }}, {{ record.latest_session.date.year }}</a></td>
                                    {% else %}
                                        <td class="d-inline-block col-8">None</td>
                                    {% endif %}
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Session Count:</b></td>
                                    <td class="d-inline-block col-8">{{ record.session_count }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Case Count:</b></td>
                                    <td class="d-inline-block col-8">{{ record.case_count }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    <div class="card p-0 col-6">
                        <h3 class="card-header">Notes:</h3>
                            <div class="card-body">

                            <h6 class="card-text">
                                    {{ record.notes | linebreaksbr }}
                            </h6>
                        </div>
                    </div>
                </div>
</div>

<br>

<div id="list_info">

</div>

{% endblock %}

{% block right_sidebar %}

    {{ block.super }}

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        $(document).ready(function(){
             var url = window.location.pathname;
            var id = url.split('/').reverse()[1]
            $("#list_info").load(Urls.record_session_list(id))
        })
    </script>

{% endblock %}