{% extends '_layout/_l_two_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block center_bar %}

    {{ block.super }}

<div class="card-body clearfix" id="main_info">
    <table class="table table-bordered table-hover" id="table" data-page-length="25">
        <thead>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Archive</th>
            <th>Reel</th>
            <th>Earliest Session</th>
            <th>Latest Session</th>
            <th>Sessions</th>
            <th>Cases</th>
        </thead>
    </table>
</div>

{% endblock %}

{% block right_sidebar %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>

    function format( d ) {
        return "<table class='table'>" +
            "<thead>" +
            "<th>Session ID</th>" +
            "<th>Village</th>" +
            "<th>Date</th>" +
            "<th>Notes</th>" +
            "<th>Cases</th>" +
            "<th>Litigants</th>" +
            "</thead>" +
            session_history(d)
    }

    $(document).ready(function () {
        var api_url = "/api/records/?include[]=counts&include[]=session_dates&include[]=archive&include[]=sessions.village";
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            order: [5, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "records.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "sessions",
                    "defaultContent": "",
                    "render": function(cellData){
                        if (cellData != '') {
                            return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                        } else {
                            return '<i class="fa fa-plus-square" aria-hidden="true" style="color: gray"></i>';
                        }
                    },
                    width:"15px"
                },
                {data: "name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls.record(rowData.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.name + "</a>");
                    }
                },
                {data: "record_type"},
                {data: "archive.name"},
                {data: "reel"},
                {data: "session_dates.earliest_session",
                    defaultContent: '',
                    render: {
                        display: formatSessionDate,
                        sort: "date",
                    }
                },
                {data: "session_dates.latest_session",
                    defaultContent: '',
                    render: {
                        display: formatSessionDate,
                        sort: "date",
                    }
                },
                {data: "counts",
                    defaultContent: '',
                    render: {
                        display: function (data, type, row, meta) {
                                if (data.session) {
                                    return data.session;
                                } else {
                                    return "N/A";
                                }
                            },
                        sort: "session",
                    }
                },
                {data: "counts",
                    defaultContent: '',
                    render: {
                        display: function (data, type, row, meta) {
                                if (data.case) {
                                    return data.case;
                                } else {
                                    return "N/A";
                                }
                            },
                        sort: "case",
                    }
                },
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });

    function session_history(data){
       var concat = '';
       data.sessions.forEach(function(session){
           console.log(session);
           concat = concat + "<tr>" +
                "<td><a href='" + Urls.session(session.id) + "'>" + session.id + "</a></td>" +
                "<td><a href='" + Urls.village(session.village.id) + "'>" + session.village.name + "</a></td>" +
                "<td>" + session.human_date + "</td>" +
                "<td>" + session.notes + "</td>" +
                "<td>" + session.counts.case + "</td>" +
                "<td>" + session.counts.litigant + "</td>" +
                "</tr>";
            return concat
        });
        return concat
    }

</script>


{% endblock %}