{% extends '_layout/_l_three_col.html' %}

{% block center_bar %}
<div class="card-header text-center">
    <h2 class="card-title">Acknowledgements</h2>
</div>

<div class="card-body clearfix" id="main_info">
    <ul>
        <h4><u><a href="http://www.nlewandrowski.com/">Natasha Lewandrowski</a></u></h4>
            <ul>
                <li>My loving and supportive wife.</li>
            </ul>
        <br>
        <h4><u>Sébastien Lewandrowski</u></h4>
            <ul>
                <li>
                    The coolest little kid out there.
                </li>
            </ul>
        <br>
        <h4><u><a href="http://history.rutgers.edu/faculty-directory/175-masschaele-james">Dr. James Masschaele</a></u></h4>
            <ul>
                <li>
                    The most understanding of Advisors.
                </li>
            </ul>
        <br>
        <h4><u><a href="https://history.washington.edu/people/charity-urbanski">Dr. Charity Urbanski</a></u></h4>
            <ul>
                <li>
                    There is literally no way I would be here without you.
                </li>
            </ul>
        <br>
        <h4><u><a href="www.medievalacademy.org">The Medieval Academy of America</a></u></h4>
            <ul>
                <li>
                    The Schallek Fellowship funding, provided by the Medieval Academy of America in collaboration with the Richard III society, has been crucial for completion of this project and continuation of my PhD.
                </li>
            </ul>
        <br>
        <h4><u><a href="www.r3.org">The Richard III Society-American Branch</a></u></h4>
            <ul>
                <li>
                    The Schallek Fellowship funding, provided by the Richard III Society in collaboration with the Medieval Academy of America, has been crucial for completion of this project and continuation of my PhD.
                </li>
            </ul>
        <br>
        <h4><u><a href="http://www.uh.edu/class/history/faculty-and-staff/palmer_r/">Robert Palmer</a></u></h4>
            <ul>
                <li>
                    The <a href="http://aalt.law.uh.edu/">Anglo-American Legal Tradition Digitization Project</a> has been an absolute life-saver.
                </li>
            </ul>
    </ul>
</div>

{% endblock %}