{% extends '_layout/_l_three_col.html' %}

{% block center_bar %}
<div class="card-header text-center">
    <h2 class="card-title">Acknowledgements</h2>
</div>

<div class="card-body clearfix" id="main_info">
    <ul>
        <h4><u>Natasha Lewandrowski</u></h4>
            <ul>
                <li>My loving and supportive wife.</li>
            </ul>
        <br>
        <h4><u>Sébastien Lewandrowski</u></h4>
            <ul>
                <li>
                    The coolest little kid out there.
                </li>
            </ul>
        <br>
        <h4><u>Dr. James Masschaele</u></h4>
            <ul>
                <li>
                    The most understanding of Advisors.
                </li>
            </ul>
        <br>
        <h4><u>Dr. Charity Urbanski</u></h4>
            <ul>
                <li>
                    There is literally no way I would be here without you.
                </li>
            </ul>
        <br>
        <h4><u>The Richard III Society</u></h4>
            <ul>
                <li>
                    The Schallek Fellowship funding has been crucial for completion of this project and continuation of my PhD.
                </li>
            </ul>
        <br>
        <h4><u>Robert Palmer</u></h4>
            <ul>
                <li>
                    The Anglo-American Legal digitization Project has been an absolute life-saver.
                </li>
            </ul>
    </ul>
</div>

{% endblock %}