{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/af-2.2.2/b-1.4.2/cr-1.4.1/fc-3.2.3/fh-3.1.3/sc-1.4.3/sl-1.2.3/datatables.min.css"/>

<div class="container">
    <h2>Cases Table</h2>
    <table class="table table-bordered table-hover" id="case_list" data-page-length="25">
        <thead>
            <th>Case ID</th>
            <th>Session</th>
            <th>Village</th>
            <th>Court Type</th>
            <th>Case Type</th>
            <th>Verdict</th>
            <th>Litigant Count</th>
        </thead>

    </table>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/af-2.2.2/b-1.4.2/cr-1.4.1/fc-3.2.3/fh-3.1.3/sc-1.4.3/sl-1.2.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.colVis.min.js"></script>
<script>
    $(document).ready(function(){
        var table = $('#case_list').DataTable({
            fixedHeader: true,
            ajax: {
                processing: true,
                url: "/api/cases",
                type: "GET",
                dataSrc: "",
            },
            "columns": [
                {data: "id",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        $(nTd).html("<a href='/case/"+ rowData.id +"' target='_blank'>" + rowData.id + "</a>");
                    }
                },
                {data: "session",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        $(nTd).html(rowData.session.law_term + ", " + rowData.session.year)
                    }
                },
                {data: "session.village.name"},
                {data: "court_type"},
                {data: "case_type.case_type"},
                {data: "verdict.verdict"},
                {data: "litigant_count"}
            ]
        });

        $('#1332').change(function(){
            table.column(4).visible($(this).is(':checked'))
        });

        $('#1379').change(function(){
            table.column(5).visible($(this).is(':checked'))
        });
    });



</script>
{% endblock %}