{% extends "_layout/__base.html" %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
    <h1 class="display-3">Welcome to the Medieval Peasant Database</h1>
    <p class="lead">An open access portal to England's manorial courts.</p>
    <hr class="my-4">
    <p>The Medieval Peasant Database seeks to expand the field of English legal and social history by providing a free, open, and accessible database for the wealth of England's manorial court documentation.</p>
    <p class="lead">
        <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#learnMore" aria-expanded="false" aria-controls="learnMore">Learn More</button>
    </p>
        <div class="collapse" id="learnMore">
            <div class="card card-body">
                <p style="text-indent: 25px;">The unique nature of Medieval England’s legal landscape has left us with an abundance of materials.
                    These documents span the social spectrum from the country’s elite to its agrarian workers.
                    Historians have long mined this treasure trove to illuminate the social and legal landscape of the late medieval world; these efforts have included the data-driven analyses of <a href="http://www.worldcat.org/search?q=au%3AAmbrose+Raftis&qt=advanced&dblist=683">Dr. Ambrose Raftis</a> and the incredibly influential <a href="http://www.worldcat.org/title/medieval-society-and-the-manor-court-monograph/oclc/861983086">Medieval Society and the Manor Court, edited by Zvi Razi and Richard Smith.</a></p>

                <p style="text-indent: 25px;">Until recently, much of the datasets that social and legal historians has been sequestered to each individual historian’s own workroom.
                    They have relied upon either their own physical card systems, as in the case of Dr. Ambrose Raftis, or their databases have been established for individual projects and for their own use.
                    The lack of free, open, and easily-accessible databases covering the wealth of information available severely limits the types of work that current and future historians are capable of doing.
                    This trend is starting to change, as evidenced by Dr. Bruce Campell’s open-access <a href="http://www.cropyields.ac.uk/index.php">Medieval Crop Yields Database</a> and the <a href="http://www.overlandtrade.org/project/about_the_project/">Overland Trade Project</a>.</p>

                <p style="text-indent: 25px;">The Medieval Peasant Database intends to provide an open forum for medieval historians to contribute and collaborate.
                    Born out of my own PhD work on the manorial courts of <a href=”{% url 'village:detail' pk=52 %}”>Badbury</a> and <a href=”{% url 'village:detail' pk=48 %}”>Christian Malford</a>, and the connections between manorial and Common Law courts, the Medieval Peasant Database is designed to enable a wide-range of social and legal inquiries, including prosopographical, gender, and economic studies, among other uses.
                    The more scholars who contribute to the database, the more useful it will become and the more benefit it will provide to the field.</p>

                <p style="text-indent: 25px;">The Medieval Peasant Database is currently a work in progress, and I intend to add more features as time goes on.
                    If you have any questions, comments, suggestions, or concerns, please <a href="mailto:neighlyd@gmail.com?subject=[Medieval Peasant Database]"> email me</a>.</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}