{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container-fluid">
        <hr>
            <h1 class="text-center">{{ person.full_name}} - {{ person.village.name}}
            <button type="button" class="btn btn-secondary float-right">Edit Person</button>
        </h1>
        <hr>
    </div>
    <div class="container-fluid">

        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-4">
                        <label class="col-form-label"><b>First Name:</b></label>
                        <div class="d-flex p-1 border rounded">{{ person.first_name }}</div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label"><b>Relation Name:</b></label>
                        {% if person.relation_name %}
                        <div class="d-flex p-1 border rounded">{{ person.relation_name}}</div>
                        {% else %}
                        <div class="d-flex p-1 border rounded">‍   </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label"><b>Last Name:</b></label>
                        <div class="d-flex p-1 border rounded">{{ person.last_name }}</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <label class="col-form-label"><b>Gender:</b></label>
                        <div class="d-flex p-1 border rounded">{{ person.get_gender_display }}</div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label"><b>Status:</b></label>
                        <div class="d-flex p-1 border rounded">{{ person.get_status_display }}</div>
                    </div>
                    <div class="col-md-2">
                        <label class="col-form-label"><b>1332 Tax:</b></label>
                        <div class="d-flex p-1 border rounded">{{ person.tax_1332}}</div>
                    </div>
                    <div class="col-md-2">
                        <label class="col-form-label"><b>1379 Tax:</b></label>
                        <div class="d-flex p-1 border rounded">{{ person.tax_1379}}</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-2">
                        <label class="col-form-label"><b>Earliest Case:</b></label>
                        <div class="d-flex p-1 border rounded">{{ person.earliest_case }}</div>
                    </div>
                    <div class="col-md-2">
                        <label class="col-form-label"><b>Latest Case:</b></label>
                        <div class="d-flex p-1 border rounded">{{ person.latest_case }}</div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label"><b>Notes:</b></label>
                    {% if person.notes %}
                    <div class="d-flex p-1 border rounded">{{ person.notes | linebreaksbr }}</div>
                    {% else %}
                    <div class="d-flex p-1 border rounded">‍   </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>

<br>
<div class="container-fluid">
    <div class="container-fluid">

            <ul class="nav nav-pills" id="infoTab">

                <li class="nav-item">
                    <a class="nav-link active" href="" data-target="#stats" data-toggle="tab">Stats</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#case_list" data-url="{% url 'person_case_list' person.id %}" data-toggle="tab">Case List</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#pledge_list" data-url="{% url 'pledge_list' person.id %}" data-toggle="tab">Pledge List</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#land_list" data-url="{% url 'person_land_history' person.id %}" data-toggle="tab">Land <List></List></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#relationship_list" data-url="{% url 'relationship_list' person.id %}" data-toggle="tab">Relationship List</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#position_list" data-url="{% url 'position_list' person.id %}" data-toggle="tab">Position List</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="stats">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item text-center"><b>Case Info</b></li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Litigation Count</p>
                                                <p class="p-1"> {{ person.case_count_litigation }}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Case Count (with Chev)</p>
                                                <p class="p-1"> {{ person.case_count_all }} </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item text-center"><b>Pledge Info</b></li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Pledges Given:</p>
                                                <p class="p-1">{{ person.pledges_given_count}}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Pledges Received:</p>
                                                <p class="p-1">{{ person.pledges_received_count}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item text-center"><b>Relationship Info</b></li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Known Relationships:</p>
                                                <p class="p-1">{{ person.relationship_count}}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Known Positions:</p>
                                                <p class="p-1">{{ person.position_count}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item text-center"><b>Amercement Info</b></li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Amercement Count:</p>
                                                <p class="p-1">{{ person.amercement_count }}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Amercement Minimum:</p>
                                                {% if person.amercement_min == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.amercement_min > 0 %}
                                                        <p class="p-1">{{ person.amercement_min }}</p>
                                                {% else %}
                                                        <p class="p-1">--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Amercement Maximum:</p>
                                                {% if person.amercement_max == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.amercement_max > 0 %}
                                                        <p class="p-1">{{ person.amercement_max }}</p>
                                                {% else %}
                                                        <p class="p-1">--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Amercement Average:</p>
                                                {% if person.amercement_avg == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.amercement_avg > 0 %}
                                                        <p class="p-1">{{ person.amercement_avg }}</p>
                                                {% else %}
                                                        <p class="p-1">--</p>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item text-center"><b>Chevage Info</b></li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Chevage Count:</p>
                                                <p class="p-1">{{ person.chevage_count }}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Chevage Minimum:</p>
                                                {% if person.chevage_min == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.chevage_min > 0 %}
                                                        <p class="p-1">{{ person.chevage_min }}</p>
                                                {% else %}
                                                        <p class="p-1">‍--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Chevage Maximum:</p>
                                                {% if person.chevage_max == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.chevage_max > 0 %}
                                                        <p class="p-1">{{ person.chevage_max }}</p>
                                                {% else %}
                                                        <p class="p-1">‍--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Chevage Average:</p>
                                                {% if person.chevage_avg == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.chevage_avg > 0 %}
                                                        <p class="p-1">{{ person.chevage_avg }}</p>
                                                {% else %}
                                                        <p class="p-1">‍--</p>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item text-center"><b>Fine Info</b></li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Fine Count:</p>
                                                <p class="p-1">{{ person.fine_count }}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Fine Minimum:</p>
                                                {% if person.fine_min == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.fine_min > 0 %}
                                                        <p class="p-1">{{ person.fine_min }}</p>
                                                {% else %}
                                                        <p class="p-1">‍--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Fine Maximum:</p>
                                                {% if person.fine_max == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.fine_max > 0 %}
                                                        <p class="p-1">{{ person.fine_max }}</p>
                                                {% else %}
                                                        <p class="p-1">‍--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Fine Average:</p>
                                                {% if person.fine_avg == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.fine_avg > 0 %}
                                                        <p class="p-1">{{ person.fine_avg }}</p>
                                                {% else %}
                                                        <p class="p-1">‍--</p>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item text-center"><b>Damages Info</b></li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Damages Count:</p>
                                                <p class="p-1">{{ person.damage_count }}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Damages Minimum:</p>
                                                {% if person.damage_min == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.damage_min > 0 %}
                                                        <p class="p-1">{{ person.damage_min }}</p>
                                                {% else %}
                                                        <p class="p-1">‍--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Damages Maximum:</p>
                                                {% if person.damage_max == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.damage_max > 0 %}
                                                        <p class="p-1">{{ person.damage_max }}</p>
                                                {% else %}
                                                        <p class="p-1">‍--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Damages Average:</p>
                                                {% if person.damage_avg == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.damage_avg > 0 %}
                                                        <p class="p-1">{{ person.damage_avg }}</p>
                                                {% else %}
                                                        <p class="p-1">‍--</p>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                 <div class="col-md-3">
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item text-center"><b>Impercamenta Info</b></li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Impercamentum Count:</p>
                                                <p class="p-1">{{ person.impercamentum_count }}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Impercamentum Minimum:</p>
                                                {% if person.impercamentum_min == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.impercamentum_min > 0 %}
                                                        <p class="p-1">{{ person.impercamentum_min }}</p>
                                                {% else %}
                                                        <p class="p-1">--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Impercamentum Maximum:</p>
                                                {% if person.impercamentum_max == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.impercamentum_max > 0 %}
                                                        <p class="p-1">{{ person.impercamentum_max }}</p>
                                                {% else %}
                                                        <p class="p-1">--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Impercamentum Average:</p>
                                                {% if person.impercamentum_avg == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.impercamentum_avg > 0 %}
                                                        <p class="p-1">{{ person.impercamentum_avg }}</p>
                                                {% else %}
                                                        <p class="p-1">--</p>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card">
                                        <ul class="list-group">
                                            <li class="list-group-item text-center"><b>Heriot Info</b></li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Heriot Count:</p>
                                                <p class="p-1">{{ person.heriot_count }}</p>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Heriot Minimum:</p>
                                                {% if person.heriot_min == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.heriot_min > 0 %}
                                                        <p class="p-1">{{ person.heriot_min }}</p>
                                                {% else %}
                                                        <p class="p-1">--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Heriot Maximum:</p>
                                                {% if person.heriot_max == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.heriot_max > 0 %}
                                                        <p class="p-1">{{ person.heriot_max }}</p>
                                                {% else %}
                                                        <p class="p-1">--</p>
                                                {% endif %}
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between">
                                                <p class="p-1">Heriot Average:</p>
                                                {% if person.heriot_avg == 0 %}
                                                        <p class="p-1">0</p>
                                                {% elif person.heriot_avg > 0 %}
                                                        <p class="p-1">{{ person.heriot_avg }}</p>
                                                {% else %}
                                                        <p class="p-1">--</p>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="case_list">

                </div>

                <div class="tab-pane" id="pledge_list">

                </div>

                <div class="tab-pane" id="land_list">

                </div>

                <div class="tab-pane" id="relationship_list">

                </div>

                <div class="tab-pane" id="position_list">

                </div>
            </div>

    </div>
</div>


<!-- not working, but would allow static content
<div class="container-fluid">
    <div id="tabs">
        <ul class="nav nav-tabs" id="infoTab">
            <li class="active">
                <a data-url="{% url 'person_case_list' person.id %}" href="#case_list">Case List</a>
            </li>
            <li>
                <a data-url="{% url 'pledge_list' person.id %}" href="#pledge_list">Pledge List</a>
            </li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="case_list">

            </div>

            <div class="tab-pane active" id="pledge_list">

            </div>

        </div>
    </div>
</div>

<script>
$('#infoTab').click(function(){
    var id=$(this).attr('href'), url=$(this).data('url');
    if(typeof url !== "undefined") {
        $(id).load(url);
        $(id).addClass('active').siblings().removeClass('active');
    } else {
        $(id).addClass('active').siblings().removeClass('active');
    }
});
</script>
-->



{% endblock %}
{% block scripts %}

{{ block.super }}
<script>
    $('.nav-pills>li>a').click(function(e){
        e.preventDefault();
        var id=$(this).attr('href'), url=$(this).data('url');
        console.log("id: " + id);
        console.log("url: "+ url);
        if(typeof url !== "undefined") {
            $(id).load(url);
            $(id).addClass('active').siblings().removeClass('active');
        } else {
            $(id).addClass('active').siblings().removeClass('active');
        }
    });
</script>
{% endblock %}
