{% extends '_layout/_l_two_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block center_bar %}

    {{ block.super }}

<div class="card-body clearfix" id="main_info">
    <table class="table table-bordered table-hover" id="archive_table" data-ajax="{% url 'api:archive-list' %}?format=datatables" data-page-length="25">
        <thead>
            <th>Name</th>
            <th>Website</th>
            <th>Notes</th>
            <th>Records</th>
            <th>Sessions</th>
            <th>Cases</th>
        </thead>
    </table>
</div>

{% endblock %}

{% block right_sidebar %}
    {% if perms.peasantlegaldb.add_archive %}
        <a class="btn btn-success float-right" href="{% url 'archive:add' %}">Add {{ page_title }}</a>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $(document).ready(function(){
        var archive_table = $('#archive_table').DataTable({
            fixedHeader: {
                headerOffset: 50
            },
            serverSide: true,

            columns: [
                {data: "name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        $(nTd).html("<a href='" + '/archive/' + rowData.id + "'>" + rowData.name + "</a>");
                    }
                },
                {data: "website",
                    defaultContent: '',
                    render:{
                        display: function(data, type, row, col){
                            if (data){
                                return "<a href='" + (data) + "'> Website </a>"
                            }
                        }
                    }
                },
                {data: "notes"},
                {data: "counts.record",
                    searchable: false,
                    orderable: false,
                },
                {data: "counts.session",
                    searchable: false,
                    orderable: false,
                },
                {data: "counts.case",
                    searchable: false,
                    orderable: false,
                },
            ],

        });
    });



</script>
{% endblock %}