{% extends '_layout/_l_three_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
    <div id="selection_list">
        <a class="list-group-item list-group-item-action active" href="{% url 'record_list' archive.id %}">Records</a>
    </div>
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title">Archive - {{ archive.name }}</h2>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">

                    <div class="card p-0 col-lg-5">
                        <h3 class="card-header">Info:</h3>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Website:</b></td>
                                    <td class="d-inline-block col-8"><a href="{{ archive.website }}">Website</a></td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Record Count:</b></td>
                                    <td class="d-inline-block col-8">{{ archive.record_count }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Session Count:</b></td>
                                    <td class="d-inline-block col-8">{{ archive.session_count }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Case Count:</b></td>
                                    <td class="d-inline-block col-8">{{ archive.case_count }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="card p-0 col-lg-6">
                        <h3 class="card-header">Notes:</h3>
                            <div class="card-body">

                            <h6 class="card-text">
                                    {{ archive.notes | linebreaksbr }}
                            </h6>
                        </div>
                    </div>
                </div>
</div>

<br>

<div id="list_info">

</div>

{% endblock %}

{% block right_sidebar %}
    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_archive %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="#">Add Archive</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.change_archive %}
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="#">Edit Archive</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.delete_archive %}
            <div class="btn-group" role="group">
                <a class="btn btn-danger" href="#">Delete Archive</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        $(document).ready(function(){
             var url = window.location.pathname;
            var id = url.split('/').reverse()[1]
            $("#list_info").load(Urls.record_list(id))
        })
    </script>

{% endblock %}