{% extends '_layout/_l_two_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block center_bar %}

    {{ block.super }}

<div class="card-body clearfix" id="main_info">
    <table class="table table-bordered table-hover" id="table" data-page-length="25">
        <thead>
            <th>Name</th>
            <th>Website</th>
            <th>Notes</th>
            <th>Records</th>
            <th>Sessions</th>
            <th>Cases</th>
        </thead>
    </table>
</div>

{% endblock %}

{% block right_sidebar %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $(document).ready(function(){
        var url = '/api/archives';
        var table = $('#table').DataTable({
            fixedHeader: {
                headerOffset: 50
            },
            scrollX: true,
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "archives.",
            },
            "columns": [
                {data: "name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        console.log(cellData);
                        $(nTd).html("<a href='" + '/archive/' + rowData.id + "'>" + rowData.name + "</a>");
                    }
                },
                {data: "website",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        $(nTd).html("<a href='" + (rowData.website) + "'> Website </a>");
                    }
                },
                {data: "notes"},
                {data: "counts.record"},
                {data: "counts.session"},
                {data: "counts.case"},
            ],

        });
    });



</script>
{% endblock %}