<div class="card">
    <div class="card-header text-center bg-grey">
        <h3>Case List</h3>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-hover" id="case_table" data-ajax="{% url 'api:case-list' %}?archive={{ archive.id }}&expand=session&format=datatables" data-page-length="10">
            <thead>
                <th>Notes</th>
                <th>ID</th>
                <th>Village</th>
                <th>Session</th>
                <th>Court</th>
                <th>Case Type</th>
                <th>Verdict</th>
                <th>Litigants</th>
            </thead>
        </table>
    </div>

</div>

<script>
    function format( data ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td>Notes</td>" +
            "<td>" + data.notes + "</td>" +
            "</tr>" +
        "</table>"
    }

    var case_table = $("#case_table").DataTable({
        serverSide: true,
        order: [3, "asc"],
        "columns": [
            {
                class: "details-control",
                orderable: false,
                data: "notes",
                defaultContent: "",
                render: checkNotes,
                width:"15px"
            },
            {data: "id",
                render: {
                    display: function(data){
                        var url = Urls['case:detail'](data);
                        return "<a href='"+ url +"'>" + data + "</a>"
                    }
                }
            },
            {data: "session.village",
                name: "session.village.name",
                render:{
                    display: function(data){
                        var url = Urls['village:detail'](data.id);
                        return "<a href='" + url + "'>" + data.name + "</a>"
                    }
                }
            },
            {data: "session",
                name: "session.date",
                render: {
                    display: function(data){
                        var url = Urls['session:detail'](data.id);
                        return "<a href='" + url + "'>" + data.law_term + ", " + data.year + "</a>"
                    }
                }
            },
            {data: "court_type",
                searchable: false,
            },
            {data: "case_type.case_type",
                name: 'case_type.case_type'
            },
            {data: 'verdict.verdict',
                name: 'verdict.verdict',
            },
            {data: "litigant_count"},
        ]
    });
    // Used to activate the + expansion and trigger the format function.
     $('#case_table tbody').on('click', 'td.details-control', function(){
        var tr = $(this).closest('tr');
        var tdi = tr.find("#check");
        var row = case_table.row( tr );
        if (tdi.prop('style').color !== 'gray') {
            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else {
                row.child(format(row.data())).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        }
    });

</script>
