{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <div class="card-header text-center">
            <h3>Record List</h3>
            <a href="{% url 'record:add' %}?archive={{ archive.id }}" class="btn btn-sm btn-success">Add Record</a>
    </div>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Notes</th>
                    <th>Name</th>
                    <th>Record Type</th>
                    <th>Reel</th>
                    <th>Earliest Session</th>
                    <th>Latest Session</th>
                    <th>Sessions</th>
                    <th>Cases</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>

    function format( data ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Notes</b></td>" +
            "<td>"+data.notes+"</td>" +
            "</tr>" +
        "</table>"
    }

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls['api:archive-detail'](id);
        var api_url = url + "?include[]=records.session_dates&include[]=records.counts";
        var table = $("#table").DataTable({
            fixedHeader:{                headerOffset: 50            },
            scrollX: true,
            order: [4, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "archive.records.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": "notes",
                    "defaultContent": "",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls['record:detail'](rowData.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.name + "</a>");
                    }
                },
                {data: "record_type"},
                {data: "reel"},
                {data: "session_dates.earliest_session",
                    render: {
                        display: formatSessionDate,
                        sort: "date",
                    }
                },
                {data: "session_dates.latest_session",
                    render: {
                        display: formatSessionDate,
                        sort: "date",
                    }
                },
                {data: "counts.session"},
                {data: "counts.case"},
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });
    });


</script>


{% endblock %}