<table class="table table-bordered table-hover" id="record_table" data-ajax="{% url 'api:record-list' %}?archive={{ archive.id }}&format=datatables" data-page-length="10">
    <thead>
        <th>Notes</th>
        <th>Name</th>
        <th>Record Type</th>
        <th>Reel</th>
        <th>Sessions</th>
        <th>Cases</th>
    </thead>
</table>

<script>

    function format( data ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Notes</b></td>" +
            "<td>"+data.notes+"</td>" +
            "</tr>" +
        "</table>"
    }

    var record_table = $("#record_table").DataTable({

        serverSide: true,
        columns: [
            {
                class: "details-control",
                orderable: false,
                data: "notes",
                defaultContent: "",
                render: checkNotes,
                width:"15px"
            },
            {data: "name",
                render:{
                    display: function(data, type, row){
                        var url = Urls['record:detail'](row.id);
                        return "<a href='"+ url +"'>" + data + "</a>";
                    }
                }
            },
            {data: "record_type",
                searchable: false,
                orderable: false,
            },
            {data: "reel"},
            {data: "counts.session",
                searchable: false,
                orderable: false,
            },
            {data: "counts.case",
                searchable: false,
                orderable: false,
            },
        ]
    });

    $('#record_table tbody').on('click', 'td.details-control', function(){
        var tr = $(this).closest('tr');
        var tdi = tr.find("#check");
        var row = record_table.row( tr );
        if (tdi.prop('style').color !== 'gray') {
            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else {
                row.child(format(row.data())).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        }
    });


</script>