{% extends '_layout/__base.html' %}
{% load template_tags %}

{% block content %}
    <div class="container-fluid d-flex justify-content-around pt-2">

        <div class="p-0 col-lg-2">
            <div class="list-group" style="position: fixed">
                {% block left_sidebar %}
                {% endblock %}
            </div>
        </div>
        {% block center_block %}

        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}

{{ block.super }}

<script>
    $('#selection_list>a').click(function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        $(this).addClass('active').siblings().removeClass('active');
        if (typeof url !== "undefined") {
            $("#list_info").load(url);
        } else {
        }
    });

</script>

{% endblock %}