{% extends '_layout/__base.html' %}
{% load template_tags %}

{% block content %}
    <div class="container-fluid clearfix d-flex flex-wrap justify-content-between pt-2">
        <div class="col-md-10">
            {% block center_bar %}
            {% endblock %}
        </div>

        <div class="p-1 col-md-2" style="padding-left: 0px">
            <div class="container" style="position: sticky; top: 68px">
                {% block right_sidebar %}
                {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}

{{ block.super }}

<script>
    $('#selection_list>a').click(function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        $(this).addClass('active').siblings().removeClass('active');
        if (typeof url !== "undefined") {
            $("#list_info").load(url);
        } else {
        }
    });

</script>

{% endblock %}