{% extends '_layout/__base.html' %}
{% load template_tags %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-between pt-2">

        <div class="p-0 col-md-11">
            <div class="card">

                {% block center_bar %}
                    <div class="card-header text-center">
                        <h2 class="card-title">{{ page_title }} List</h2>
                        {% block additional_title %}{% endblock %}
                    </div>

                {% endblock %}

            </div>
        </div>

        <div class="p-0 col-md-1">

            {% block right_sidebar %}

            {% endblock %}

        </div>

    </div>

{% endblock %}

{% block scripts %}

{{ block.super }}

<script>
    $('#selection_list>a').click(function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        $(this).addClass('active').siblings().removeClass('active');
        if (typeof url !== "undefined") {
            $("#list_info").load(url);
        } else {
        }
    });

</script>

{% endblock %}