{% extends '_layout/__base.html' %}
{% load template_tags %}

{% block content %}
    <div class="container-fluid clearfix d-flex flex-wrap justify-content-between pt-2">
        <div class="col-md-11">
            <div class="card">
                {% block center_bar %}
                    <div class="card-header text-center">
                        <h5>{{ page_title }} List</h5>
                        {% block additional_title %}{% endblock %}
                    </div>

                {% endblock %}
            </div>
        </div>

        <div class="p-1 col-md-1" style="padding-left: 0px">
            <div class="container" style="position: sticky; top: 65px">
                {% block right_sidebar %}
                {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}

{{ block.super }}

<script>
    $('#selection_list>a').click(function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        $(this).addClass('active').siblings().removeClass('active');
        if (typeof url !== "undefined") {
            $("#list_info").load(url);
        } else {
        }
    });

</script>

{% endblock %}