{% extends '_layout/__base.html' %}
{% load template_tags %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid clearfix d-flex flex-wrap justify-content-between pt-2">

        <div class="p-1 col-md-2">
            <div class="list-group" role="tablist" style="position: sticky; top: 65px">
                {% block left_sidebar %}
                {% endblock %}
            </div>
        </div>

        <div class="p-1 col-md-8">
            <div class="card">
                {% block center_bar %}
                {% endblock %}
            </div>
        </div>

        <div class="p-1 col-md-2">
            {% block right_sidebar %}

            {% endblock %}
        </div>

    </div>
{% endblock %}
