{% extends '_layout/__base.html' %}
{% load template_tags %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-between pt-2">

        <div class="p-0 col-md-2">
            <div class="list-group" style="position: fixed">
                {% block left_sidebar %}
                {% endblock %}
            </div>
        </div>

        <div class="p-0 col-md-9">
            <div class="card">
                {% block center_bar %}
                {% endblock %}
            </div>
        </div>

        <div class="p-0 col-md-1">
            {% block right_sidebar %}
                <div class="container" style="position: sticky; top: 65px">
                {% if user.is_authenticated %}
                    {% if perms.object %}
                        {% if perms.object.can_edit_object %}
                            <div class="btn-group" role="group">
                                <a class="btn btn-success float-right" href="#">Edit {{ object | obj_classname }}</a>
                            </div>
                        {% endif %}
                            <br>
                            <br>
                        {% if perms.object.can_add.object %}
                            <div class="btn-group" role="group">
                                <a class="btn btn-success float-right" href="#">Add {{ object | obj_classname }}</a>
                            </div>
                        {% endif %}
                            <br>
                            <br>
                        {% if perms.object.can_delete_object %}
                            <div class="btn-group" role="group">
                                <a class="btn btn-danger float-right" href="#">Delete {{ object | obj_classname }}</a>
                            </div>
                        {% endif %}
                    {% endif %}

                {% endif %}
                </div>
            {% endblock %}
        </div>

    </div>
{% endblock %}

{% block scripts %}

{{ block.super }}

<script>
    $('#selection_list>a').click(function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        $(this).addClass('active').siblings().removeClass('active');
        if (typeof url !== "undefined") {
            $("#list_info").load(url);
        } else {
        }
    });

</script>

{% endblock %}