{% extends '_layout/_l_two_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block center_bar %}

    {{ block.super }}

<div class="card-body clearfix" id="main_info">
    <table class="table table-bordered table-hover" id="table" data-ajax="{% url 'api:county-list' %}?format=datatables" data-page-length="50">
        <thead>
            <th>Name</th>
            <th>Hundreds</th>
            <th>Villages</th>
            <th>Great Rumor</th>
            <th>Ancient Demesne</th>
            <th>Sessions</th>
            <th>Cases</th>
            <th>Residents</th>
            <th>Litigants</th>
        </thead>
    </table>
</div>

{% endblock %}

{% block right_sidebar %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>

    $(document).ready(function () {
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            order: [0, "asc"],
            "columns": [
                {data: "name",
                    render: {
                        display: function(data, type, row, meta){
                            var url = Urls['county:detail'](row.id);
                            return "<a href='"+ url +"'>" + data + "</a>"
                        }
                    }
                },
                {data: "counts.hundred",
                    searchable: false,
                    orderable: false,
                },
                {data: "counts.village",
                    searchable: false,
                    orderable: false,
                },
                {data: "counts.great_rumor",
                    searchable: false,
                    orderable: false,
                },
                {data: "counts.ancient_demesne",
                    searchable: false,
                    orderable: false,
                },
                {data: "counts.session",
                    searchable: false,
                    orderable: false,
                },
                {data: "counts.case",
                    searchable: false,
                    orderable: false,
                },
                {data: "counts.resident",
                    searchable: false,
                    orderable: false,
                },
                {data: "counts.litigant",
                    searchable: false,
                    orderable: false,
                },
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });

</script>


{% endblock %}