{% extends '_layout/_l_three_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
    <div class="list-group" id="selection_list" role="tablist">
        <a class="list-group-item list-group-item-action active" href="#village_list" data-url="{% url 'county:villages' county.id %}" role="tab" data-toggle="list">Villages</a>
        <a class="list-group-item list-group-item-action" href="#case_list" data-url="{% url 'county:cases' county.id %}" role="tab" data-toggle="list">Cases</a>
        <a class="list-group-item list-group-item-action" href="#resident_list" data-url="{% url 'county:residents' county.id %}" role="tab" data-toggle="list">Known Residents</a>
        <a class="list-group-item list-group-item-action" href="#litigant_list" data-url="{% url 'county:litigants' county.id %}" role="tab" data-toggle="list">Litigants</a>
        <a class="list-group-item list-group-item-action" href="#hundred_list" data-url="{% url 'county:hundreds' county.id %}" role="tab" data-toggle="list">Hundreds</a>
    </div>
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title" id="county_name">{{ county.name }} </h2>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">
        <div class="card p-0 col-12">
            <h3 class="card-header">Map:</h3>

            <div class="card-body">
                <div id="map"></div>
                <footer class="blockquote-footer text-right">Historical maps from <cite title="NLS Maps API"><a href="http://maps.nls.uk/projects/api/">NLS Maps API</a></cite></footer>
            </div>
        </div>
    </div>
</div>

<br>

<div class="tab-content" id="list_info">
    <div class="tab-pane show active fade" id="village_list" role="tabpanel">{% include 'county/village_list.html' %}</div>
    <div class="tab-pane fade" id="case_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="resident_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="litigant_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="hundred_list" role="tabpanel"></div>
</div>

{% endblock %}

{% block right_sidebar %}

    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_county %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="#">Add County</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.change_county %}
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="#">Edit County</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.delete_county %}
            <div class="btn-group" role="group">
                <a class="btn btn-danger" href="#">Delete County</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

    {{ block.super }}
    <script type="text/javascript" src="https://nls.tileserver.com/api.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB51yaYfTmJNUIlZCpIr0HU4m11Hmd7Y9E"></script>

    <script>
    // for information on Ordnance Survey API: http://maps.nls.uk/projects/api/

      // In this example, we center the map, and add a marker, using a LatLng object
      // literal instead of a google.maps.LatLng object. LatLng object literals are
      // a convenient way to add a LatLng coordinate and, in most cases, can be used
      // in place of a google.maps.LatLng object.
      // https://developers.google.com/maps/documentation/javascript/examples/map-latlng-literal
        var map;

        var nlsmap = new google.maps.ImageMapType({
		getTileUrl:function(tile,zoom) {
		return NLSTileUrlOS(tile.x,tile.y,zoom);
		},
	        tileSize:new google.maps.Size(256,256),
	        isPng:false
        });

        function initialize(){
            // get lat and lng from API.
            var url = window.location.pathname;
            var id = url.split('/').reverse()[1];
            var api_url = Urls["api:village-list"]();
            var villages_url = api_url + "?county=" + id;

            var locationObject = $.ajax({
                url: villages_url,
                type: "GET",
                async: false,
                dataType: '',
            }).responseJSON;

            // because Dynamic-Rest nests the data one-level deep, strip out the '{ villages:{' layer.
            locationObject = locationObject.results;

            var countyName = $("#county_name").text();

            var county_api_url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + countyName + "+UK&key=AIzaSyB51yaYfTmJNUIlZCpIr0HU4m11Hmd7Y9E";

            var countyLocation = $.ajax({
                url: county_api_url,
                type: "GET",
                async: false,
                dataType: '',
            }).responseJSON;


            // use .map to iterate through array of objects returned by API and map key-value pairs to variable. Because
            // the Latitude and Longitude are stored as strings, convert them to floats which the Google API can read as
            // appropriate coordinates. Also grab the village name for the label.
            var locationArray = locationObject.map(f => [f.id, f.name, parseFloat(f.latitude), parseFloat(f.longitude), f.counts.session, f.counts.case, f.counts.resident, f.counts.litigant, ] );
            var county_results = countyLocation.results;

            var countyLat = county_results.map(f => f.geometry.location.lat);
            var countyLng = county_results.map(f => f.geometry.location.lng);

            countyLat = parseFloat(countyLat);
            countyLng = parseFloat(countyLng);

            var mapOptions = {
                zoom: 9,
                center: {lat: countyLat, lng: countyLng}
            };

            map = new google.maps.Map(document.getElementById('map'),
                mapOptions);

            map.overlayMapTypes.insertAt(0, nlsmap);

            var infoWindow = new google.maps.InfoWindow();

            var marker, i;

            for(i = 0; i < locationArray.length; i++){
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locationArray[i][2], locationArray[i][3]),
                    map: map
                });

                // attempted to create a variable and assign html to it for setContent; however, this would only work for the first iteration of i for some reason.
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infoWindow.setContent(
                            "<div class='container'>" +
                                "<div class='card'>" +
                                    "<h6 class='card-header'><a href='" + Urls['village:detail'](locationArray[i][0]) + "'>" + locationArray[i][1] + "</a></h6>" +
                                    "<div class='card-body'> " +
                                        "<table class='table table-sm' style='width: 200px'>" +
                                            "<tr class='row m-0>" +
                                                "<td class='d-inline-block col-8'></td>" +
                                            "</tr>" +
                                            "<tr>" + // For some reason this first row is showing up as the header of the table. I hate computers.
                                                "<td class='d-inline-block col-8'><b>Sessions:</b></td>" +
                                                "<td class='d-inline-block col-4'>" + locationArray[i][4] + "<td>" +
                                            "</tr>" +
                                            "<tr>" +
                                                "<td class='d-inline-block col-8'><b>Cases:</b></td>" +
                                                "<td class='d-inline-block col-4'>" + locationArray[i][5] + "<td>" +
                                            "</tr>" +
                                            "<tr>" +
                                                "<td class='d-inline-block col-8'><b>Residents:</b></td>" +
                                                "<td class='d-inline-block col-4'>" + locationArray[i][6] + "<td>" +
                                            "</tr>" +
                                            "<tr>" +
                                                "<td class='d-inline-block col-8'><b>Litigants:</b></td>" +
                                                "<td class='d-inline-block col-4'>" + locationArray[i][7] + "<td>" +
                                            "</tr>" +
                                        "</table>" +
                                    "</div>" +
                                "</div>" +
                            "</div>"
                        );
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

            }



        }

        google.maps.event.addDomListener(window, 'load', initialize);


    </script>

    <script>
         $(document).ready(function(){
            $("#selection_list").on('click', 'a', function(e){
               e.preventDefault();
               var url = $(this).attr("data-url");

               if (typeof url !== "undefined"){
                   var pane = $(this), href = this.hash;

                   $(href).load(url, function(result){
                       pane.tab('show');
                   });
               } else {
                   $(this).tab('show');
               }
            });

            $('a[data-toggle="tab"').on('shown.bs.tab', function(e){
                $.fn.dataTable.tables({visible: true, api: true}).columns.adjust().responsive.recalc();
            });
        })

    </script>

{% endblock %}