{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Known Resident List</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Notes</th>
                    <th>Name</th>
                    <th>Village</th>
                    <th>Status</th>
                    <th>Gender</th>
                    <th>1332 Tax</th>
                    <th>1379 Tax</th>
                    <th>Earliest Case</th>
                    <th>Latest Case</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>

 function format( data ){
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Notes</b></td>" +
            "<td>" + data.notes + "</td>" +
            "</tr>" +
            "</table>"

    }

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
            var api_url = "/api/people/?county_to_resident=" + id + "&include[]=case_dates&include[]=village";
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            order: [1, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "people.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "notes",
                    "defaultContent": "",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "full_name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls.person(rowData.id);
                        $(nTd).html("<a href='"+ url +"'>" + cellData + "</a>");
                    }
                },
                {data: "village.name"},
                {data: "status_display"},
                {data: "gender_display"},
                {data: "tax_1332"},
                {data: "tax_1379"},
                {data: "case_dates.earliest_case",
                    defaultContent: '',
                    render: {
                        display: formatCaseDate,
                        sort: "date",
                    }
                },
                {data: "case_dates.latest_case", 
                    defaultContent: '',
                    render: {
                        display: formatCaseDate,
                        sort: "date",
                    }
                },
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });

</script>


{% endblock %}