{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Hundred List</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Hundred</th>
                    <th>Villages</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls['api:county-detail'](id);
        var api_url = url + "?include[]=hundreds.counts";
        $("#table").DataTable().destroy();
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "county.hundreds.",
            },
            "columns": [
                {data: "name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        url = Urls['hundred:detail'](rowData.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.name + "</a>");
                    }
                },
                {data: "counts.village"}
            ]
        });
    });


</script>


{% endblock %}