{% extends '_layout/_l_three_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
    <div id="selection_list">
        <a class="list-group-item list-group-item-action" href="{% url 'hundred_village_list' hundred.id %}">Villages</a>
        <a class="list-group-item list-group-item-action" href="{% url 'hundred_case_list' hundred.id %}">Cases</a>
        <a class="list-group-item list-group-item-action" href="{% url 'hundred_resident_list' hundred.id %}">Known Residents</a>
        <a class="list-group-item list-group-item-action" href="{% url 'hundred_litigant_list' hundred.id %}">Litigants</a>
    </div>
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title" id="county_name">{{ hundred.name }} </h2>
</div>

<br>

<div id="list_info">

</div>

{% endblock %}

{% block right_sidebar %}

    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_hundred %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="#">Add Hundred</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.change_hundred %}
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="#">Edit Hundred</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.delete_hundred %}
            <div class="btn-group" role="group">
                <a class="btn btn-danger" href="#">Delete Hundred</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

    {{ block.super }}

{% endblock %}
