{% extends '_layout/_l_two_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block center_bar %}

    {{ block.super }}

<div class="card-body clearfix" id="main_info">
    <table class="table table-bordered table-hover" id="table" data-ajax="{% url 'api:hundred-list' %}?format=datatables&keep=id&expand=county" data-page-length="10">
        <thead>
            <th>Hundred</th>
            <th>County</th>
            <th>Village Count</th>
        </thead>
    </table>
</div>

{% endblock %}

{% block right_sidebar %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>

    $(document).ready(function () {
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            serverSide: true,
            "columns": [
                {data: "name",
                    render: {
                        display: function(data, type, row){
                            var url = Urls['hundred:detail'](row.id);
                            return '<a href="' + url + '">' + data + '</a>';
                        }
                    }
                },
                {data: "county.name",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, meta){
                            if (data){
                                var url = Urls['county:detail'](row.county.id);
                                return '<a href="' + url + '">' + row.county.name + '</a>';
                            } else {
                                return 'N/A'
                            }
                        }
                    }
                },
                {data: "counts.village",
                    searchable: false,
                    orderable: false,
                }
            ]
        });

    });

</script>


{% endblock %}