{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Village List</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Notes</th>
                    <th>Village</th>
                    <th>Hundred</th>
                    <th>Great Rumor</th>
                    <th>Ancient Demesne</th>
                    <th>Sessions</th>
                    <th>Cases</th>
                    <th>Residents</th>
                    <th>Litigants</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>


        function format( data ){
            return "<table class='table'>" +
                "<tr>" +
                "<td><b>Notes</b></td>" +
                "<td>" + data.notes + "</td>" +
                "</tr>" +
                "</table>"
        }


    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        var api_url = Urls.village_api() + "?hundred=" + id + "&expand=hundred&expand=case_count&expand=session_count&expand=resident_count&expand=litigant_count";
        console.log(api_url);
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            order: [3, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "notes",
                    "defaultContent": "",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls.village(rowData.id);
                        $(nTd).html("<a href='"+ url +"' target='_blank'>" + rowData.name + "</a>");
                    }
                },
                {data: "id",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        if (rowData.hundred_id){
                            url = Urls.hundred(rowData.hundred_id);
                            $(nTd).html("<a href='"+ url + "' target='_blank'>" + rowData.hundred.name + "</a>");
                        } else {
                            $(nTd).html("N/A")
                        }
                    }
                },
                {data: "great_rumor",
                    fnCreatedCell: checkmaker
                },
                {data: "ancient_demesne",
                    fnCreatedCell: checkmaker
                },
                {data: "session_count"},
                {data: "case_count"},
                {data: "resident_count"},
                {data: "litigant_count"},
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });

</script>


{% endblock %}