{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Case List</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Notes</th>
                    <th>Case</th>
                    <th>Village</th>
                    <th>Session</th>
                    <th>Court Type</th>
                    <th>Case Type</th>
                    <th>Verdict</th>
                    <th>Litigant Count</th>
                    <th>Of Note</th>
                    <th>Villein</th>
                    <th>Active Sale</th>
                    <th>Incidental Land</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>

 function format( data ){
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Summary</b></td>" +
            "<td>" + data.summary + "</td>" +
            "</tr>" +
            "</table>"

    }

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        var api_url = "/api/cases/?hundred=" + id + "&include[]=session.village&include[]=litigant_count";
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            order: [4, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "cases.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "summary",
                    "defaultContent": "",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "id",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls.case(rowData.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.id + "</a>");
                    }
                },
                {data: "session.village",
                    render: {
                        display: function(data, type, row, col){
                            url = Urls.village(data.id);
                            return "<a href='" + url + "'>" + data.name + "</a>"
                        },
                    sort: "name"
                    }
                },
                {data: "session",
                    render: {
                        display: formatSessionDateNoVillage,
                        sort: "date"
                    }
                },
                {data: "court_type"},
                {data: "case_type.case_type"},
                {data: "verdict.verdict"},
                {data: "litigant_count"},
                {data: "of_interest",
                    fnCreatedCell: checkmaker
                },
                {data: "villeinage_mention",
                fnCreatedCell: checkmaker
            },
                {data: "active_sale",
                fnCreatedCell: checkmaker
            },
                {data: "incidental_land",
                fnCreatedCell: checkmaker
        },
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });


</script>


{% endblock %}