{% extends '_layout/_l_three_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
    <div id="selection_list">
        <a class="list-group-item list-group-item-action" href="{% url 'village:cases' village.id %}">Cases</a>
        <a class="list-group-item list-group-item-action" href="{% url 'village:residents' village.id %}">Known Residents</a>
        <a class="list-group-item list-group-item-action" href="{% url 'village:litigants' village.id %}">Litigants</a>
        <a class="list-group-item list-group-item-action" href="{% url 'village:sessions' village.id %}">Sessions</a>
        <a class="list-group-item list-group-item-action" href="{% url 'village:related_places' village.id %}">Places Mentioned Here</a>
        <a class="list-group-item list-group-item-action" href="{% url 'village:places_mentioned' village.id %}">Mentioned Elsewhere</a>
    </div>
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title">{{ village.name }}</h2>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">

                    <div class="card p-0 col-lg-5">
                        <h3 class="card-header">Info:</h3>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>County:</b></td>
                                    <td class="d-inline-block col-8"><a href="{% url 'county:detail' village.county.id %}">{{ village.county.name}}</a></td>
                                </tr>
                                {% if village.hundred_id %}
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Hundred:</b></td>
                                    <td class="d-inline-block col-8"><a href="{% url 'hundred:detail' village.hundred.id %}">{{ village.hundred.name}}</a></td>
                                </tr>
                                {% endif %}
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Great Rumor:</b></td>
                                    <td class="d-inline-block col-8">{{ village.great_rumor }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Ancient Demesne:</b></td>
                                    <td class="d-inline-block col-8">{{ village.ancient_demesne }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Sessions:</b></td>
                                    <td class="d-inline-block col-8">{{ village.session_count }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Cases:</b></td>
                                    <td class="d-inline-block col-8">{{ village.case_count }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Known Residents:</b></td>
                                    <td class="d-inline-block col-8">{{ village.resident_count }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Litigants:</b></td>
                                    <td class="d-inline-block col-8">{{ village.litigant_count }}</td>
                                </tr>

                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Notes:</b></td>
                                    <td class="d-inline-block col-8">{{ village.notes | linebreaksbr }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    <div class="card p-0 col-lg-6">
                        <h3 class="card-header">Map:</h3>
                            <div class="card-body">
                                <div id="map"></div>
                                <footer class="blockquote-footer text-right">Historical maps from <cite title="NLS Maps API"><a href="http://maps.nls.uk/projects/api/">NLS Maps API</a></cite></footer>
                            </h6>
                        </div>
                    </div>
                </div>
</div>

<br>

<div id="list_info">

</div>

{% endblock %}

{% block right_sidebar %}

    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_village %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="#">Add Village</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.change_village %}
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="#">Edit Village</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.delete_village %}
            <div class="btn-group" role="group">
                <a class="btn btn-danger" href="#">Delete Village</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="http://nls.tileserver.com/api.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB51yaYfTmJNUIlZCpIr0HU4m11Hmd7Y9E"></script>
    {{ block.super }}

    <script>
    // for information on Ordnance Survey API: http://maps.nls.uk/projects/api/

      // In this example, we center the map, and add a marker, using a LatLng object
      // literal instead of a google.maps.LatLng object. LatLng object literals are
      // a convenient way to add a LatLng coordinate and, in most cases, can be used
      // in place of a google.maps.LatLng object.
      // https://developers.google.com/maps/documentation/javascript/examples/map-latlng-literal
        var map;

        var nlsmap = new google.maps.ImageMapType({
		getTileUrl:function(tile,zoom) {
		return NLSTileUrlOS(tile.x,tile.y,zoom);
		},
	        tileSize:new google.maps.Size(256,256),
	        isPng:false
        });

        function initialize(){
            // get lat and lng from API, since accessing django models through JS is not possible (that I'm aware).
            var url = window.location.pathname;
            var id = url.split('/').reverse()[1];
            var village_url = Urls['api:village-detail'](id);

            var locationObject = $.ajax({
                url: village_url,
                type: "GET",
                async: false,
                dataType: '',
            }).responseJSON;

            // because Dynamic-Rest nests the data one-level deep, strip out the '{ villages:{' layer.
            locationObject = locationObject.village;

            // assign lat and lng to variables and convert to floats that google maps api can understand.
            var lng = parseFloat(locationObject.longitude);
            var lat = parseFloat(locationObject.latitude);
            var villName = locationObject.name;

            // ensure that lat and lng are not null, otherwise google maps api freaks out.
            if(lng === null){
                lng = 0
            }

            if (lat === null){
                lat = 0
            }

            var mapOptions = {
                zoom: 13,
                center: {lat: lat, lng: lng}
            };

            map = new google.maps.Map(document.getElementById('map'),
                mapOptions);

            // overlay the ordnance survey maps.
            map.overlayMapTypes.insertAt(0, nlsmap);
            map.overlayMapTypes.insertAt(0, nlsmap);

            var marker = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                map: map
            });

            var infoWindow = new google.maps.InfoWindow({
                content: '<p>' + villName + '</p>'
            });

            google.maps.event.addListener(marker, 'click', function(){
                infoWindow.open(map, marker)
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


    <!--
    <script>
        $(document).ready(function(){
             var url = window.location.pathname;
            var id = url.split('/').reverse()[1]
            $("#list_info").load(Urls['session:cases'](id))
        })
    </script>
    -->
{% endblock %}