{% extends '_layout/_l_two_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block center_bar %}

    {{ block.super }}

<div class="card-body clearfix" id="main_info">
    <table class="table table-bordered table-hover" id="table" data-page-length="25">
        <thead>
            <th>Notes</th>
            <th>Village</th>
            <th>County</th>
            <th>Hundred</th>
            <th>Great Rumor</th>
            <th>Ancient Demesne</th>
        </thead>
    </table>
</div>

{% endblock %}

{% block right_sidebar %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>


        function format( data ){
            return "<table class='table'>" +
                "<tr>" +
                "<td><b>Notes</b></td>" +
                "<td>" + data.notes + "</td>" +
                "</tr>" +
                "</table>"
        }


    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls["api:village-list"]();
        var api_url = url + "?include[]=hundred.*&include[]=county.*";
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            order: [1, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "villages.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "notes",
                    "defaultContent": "",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls['village:detail'](rowData.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.name + "</a>");
                    }
                },
                {data: "county",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, meta){
                            if (data){
                                var countyData = meta.settings.json.counties.find(x => x.id === data);
                                var url = Urls['county:detail'](data);
                                return '<a href="' + url + '">' + countyData.name + '</a>';
                            } else {
                                return 'N/A'
                            }
                        }
                    }
                },
                {data: "hundred",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, meta){
                            if (data){
                                var hundredData = meta.settings.json.hundreds.find(x => x.id === data);
                                var url = Urls['hundred:detail'](data);
                                return '<a href="' + url + '">' + hundredData.name + '</a>';
                            } else {
                                return 'N/A'
                            }
                        }
                    }
                },
                {data: "great_rumor",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    }
                },
                {data: "ancient_demesne",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    }
                },
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("#check");
            var row = table.row( tr );
            if (tdi.prop('style').color !== 'gray'){
                if ( row.child.isShown() ) {
                    row.child.hide();
                    tr.removeClass('shown');
                    tdi.first().removeClass('fa-minus-square');
                    tdi.first().addClass('fa-plus-square');
                } else{
                    row.child( format( row.data() ) ).show();
                    tr.addClass('shown');
                    tdi.first().removeClass('fa-plus-square');
                    tdi.first().addClass('fa-minus-square');
                }
            }
        });

    });

</script>


{% endblock %}