<div class="card">
    <h3 class="card-header text-center">Case List</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="list_cases_table" data-page-length="25">
                <thead>
                    <th></th>
                    <th>Case</th>
                    <th>Session</th>
                    <th>Court Type</th>
                    <th>Case Type</th>
                    <th>Verdict</th>
                    <th>Litigant Count</th>
                    <th>Of Note</th>
                    <th>Villein</th>
                    <th>Active Sale</th>
                    <th>Incidental Land</th>
                </thead>
                <tbody>
                    {% for case in list %}
                        <tr>
                            <td></td>
                            <td><a href="{% url 'case:detail' case.id %}">{{ case.id }}</a></td>
                            <td><a href="{% url 'session:detail' case.session.id %}"{{ case.case.session }}</td>
                            <td>{{ case.get_court_type_display }}</td>
                            <td>{{ case.case_type.case_type }}</td>
                            <td>{{ case.verdict.verdict }}</td>
                            <td>{{ case.litigant_count }}</td>
                            <td class='text-center'>{% if case.of_interest %}<b>√</b>{% endif %}</td>
                            <td class='text-center'>{% if case.villeinage_mention %}<b>√</b>{% endif %}</td>
                            <td class='text-center'>{% if case.active_sale %}<b>√</b>{% endif %}</td>
                            <td class='text-center'>{% if case.incidental_land %}<b>√</b>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="card-footer">
        {% if list.has_other_pages %}
            <nav aria-label="Case list navigation">
                <ul class="pagination">
                    {% if list.has_previous %}
                        <li class="page-item"><a class="page-link" data-url="{% url 'village:cases' village.id %}?page={{ list.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% if list.number|add:'-3' > 1 %}
                        <li class="page-item"><a class="page-link" data-url="{% url 'village:cases' village.id %}?page={{ list.number|add:'-4' }}">&hellip;</a></li>
                    {% endif %}


                    {% for i in list.paginator.page_range %}
                        {% if list.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }}</span><span class="sr-only">(current)</span></li>
                        {% elif i > list.number|add:'-4' and i < list.number|add:'4'%}
                            <li class="page-item"><a class="page-link" data-url="{% url 'village:cases' village.id %}?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if list.number|add:'3' > 1 %}
                        <li class="page-item"><a class="page-link" data-url="{% url 'village:cases' village.id %}?page={{ list.number|add:'4' }}">&hellip;</a></li>
                    {% endif %}


                    {% if list.has_next %}
                        <li class="page-item"><a class="page-link" data-url="{% url 'village:cases' village.id %}?page={{ list.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>


<!-- used to navigate pagination -->
<script>
    $('.page-link').on('click', function(){
        console.log('bllor')
            var url = $(this).attr('data-url');
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function(data){
                    $('#list_info').html(data.html_list);
                }
            })
        });
    $('#table td').on('show.bs.collapse', function(){
        $(this).removeClass('hiddenRow');
    });
    $('#table td').on('hide.bs.collapse', function(){
        $(this).addClass('hiddenRow');
    })
</script>
