{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Case List</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th></th>
                    <th>Case</th>
                    <th>Village</th>
                    <th>Law Term</th>
                    <th>Year</th>
                    <th>Court Type</th>
                    <th>Case Type</th>
                    <th>Verdict</th>
                    <th>Litigant Count</th>
                    <th>Of Note</th>
                    <th>Villein</th>
                    <th>Active Sale</th>
                    <th>Incidental Land</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>

 function format( data ){
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Summary</b></td>" +
            "<td>" + data.case.summary + "</td>" +
            "</tr>" +
            "</table>"

    }

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        var api_url = Urls.place_mentioned_api() + "?village=" + id + "&expand=case&expand=case__case_type&expand=case__verdict&expand=case__session&expand=case__session__village";
        console.log(api_url);
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            order: [3, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": 'case.summary',
                    "defaultContent": "",
                    "render": function(){
                        return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                    },
                    width:"15px"
                },
                {data: "case.id",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls.case(rowData.case.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.case.id + "</a>");
                    }
                },
                {data: "case.session.village.name"},
                {data: "case.session.law_term"},
                {data: "case.session.date",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls.session(rowData.case.session.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.case.session.year + "</a>");
                    }
                },
                {data: "case.court_type"},
                {data: "case.case_type.case_type"},
                {data: "case.verdict.verdict"},
                {data: "case.litigant_count"},
                {data: "case.of_interest",
                    fnCreatedCell: checkmaker
                },
                {data: "case.villeinage_mention",
                fnCreatedCell: checkmaker
            },
                {data: "case.active_sale",
                fnCreatedCell: checkmaker
            },
                {data: "case.incidental_land",
                fnCreatedCell: checkmaker
        },
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });

function checkmaker(nTd, cellData, rowData, row, col) {
    if (cellData === true){
        $(nTd).html("<i class='fa fa-check' style='color:forestgreen'></i>")
    } else {
        $(nTd).html("")
    }
}


</script>


{% endblock %}