{% extends '_layout/_l_two_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title">Cases List</h2>
</div>

<div class="card-body clearfix" id="main_info">
    <table class="table table-bordered table-hover" id="table" data-page-length="25">
        <thead>
            <th>Notes</th>
            <th>Case ID</th>
            <th>Village</th>
            <th>Law Term</th>
            <th>Year</th>
            <th>Court Type</th>
            <th>Case Type</th>
            <th>Verdict</th>
            <th>Litigant Count</th>
            <th>of Note?</th>
        </thead>
    </table>
</div>


        <!--// Setup - add a text input to each footer cell
        $('#example thead th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        });-->
{% endblock %}

{% block right_sidebar %}
{% endblock %}

{% block scripts %}

{{ block.super }}

<script>

    function format( d ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Summary:</b></td>" +
            "<td>" + d.summary + "</td>" +
            "</tr>"
    }


    $(document).ready(function(){
        var url = Urls.case_api()+"?expand=session__village&expand=verdict&expand=case_type";

        var table = $('#table').DataTable({
            fixedHeader: {
                headerOffset: 50
            },
            scrollX: true,
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "",
            },
            order: [[4, "asc"], [1, "asc"]],
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "summary",
                    "defaultContent": "",
                    "render": function(cellData){
                        if (cellData) {
                            return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                        } else {
                            return '<i class="fa fa-plus-square" aria-hidden="true" style="color: gray"></i>';
                        }
                    },
                    width:"15px"
                },
                {data: "id",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        var url = Urls.case(rowData.id)
                        $(nTd).html("<a href='"+ url +"' target='_blank'>" + rowData.id + "</a>");
                    }
                },
                {data: "session.village",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        var url = Urls.village(rowData.session.village.id)
                        $(nTd).html("<a href='"+ url +"' target='_blank'>" + rowData.session.village.name + "</a>");
                    }
                },
                {data: "session.law_term"},
                {data: "session.date",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        $(nTd).html(rowData.session.year);
                    }
                },
                {data: "court_type"},
                {data: "case_type.case_type"},
                {data: "verdict.verdict"},
                {data: "litigant_count"},
                {data: "of_interest",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        if (rowData.of_interest === true){
                            $(nTd).html("<i class='fa fa-check' style='color:forestgreen'></i>")
                        } else {
                            $(nTd).html("")
                        }
                    }
                }
            ],

        });

        // Used to activate the + expansion and trigger the format function.
         $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else {
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });



</script>
{% endblock %}