{% extends '_layout/_l_three_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
    <div class="list-group" id="selection_list" role="tablist">
        <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab" href="#list_litigants" aria-controls="list_litigants" aria-selected="true">Show Litigants</a>
    {% if case.cornbot_exist %}
        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#list_cornbot" data-url="{% url 'case:cornbot' case.id %}" aria-controls="list_cornbot" aria-selected="false">Show Cornbot</a>
    {% endif %}
    {% if case.extrahura_exist %}
        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#list_extrahura" data-url="{% url 'case:extrahura' case.id %}" aria-controls="list_extrahura" aria-selected="false">Show Extrahura</a>
    {% endif %}
    {% if case.land_exist %}
        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#list_lands" data-url="{% url 'case:land' case.id %}" aria-controls="list_lands" aria-selected="false">Show Land</a>
    {% endif %}
    {% if case.mentioned_exist %}
        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#list_places" data-url="{% url 'case:mentioned' case.id %}" aria-controls="list_places" aria-selected="false">Show Places Mentioned</a>
    {% endif %}
    {% if case.murrain_exist %}
        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#list_murrains" data-url="{% url 'case:murrain' case.id %}" aria-controls="list_murrains" aria-selected="false">Show Murrain</a>
    {% endif %}
    {% if case.pledge_exist %}
        <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="#list_pledges" data-url="{% url 'case:pledges' case.id %}" aria-controls="list_pledges" aria-selected="false">Show Pledges</a>
    {% endif %}
    <br/>
    {% if case.capitagium_count > 0 %}
        <div class="card">
            <span data-toggle="collapse" data-target="#capitagiumAccordionCollapse" aria-expanded="true" aria-controls="capitagiumAccordion">
            <div class="card-header bg-grey" id="capitagiumAccordion">
                <h5 class="mb-0">
                    <button class="btn btn-link">Capitagium Info</button>
                </h5>
            </div>
            </span>
            <div id="capitagiumAccordionCollapse" class="collapse show" aria-labelledby="capitagiumAccordion">
                <div class="card-body">
                    <table class="table">
                        <tr class="row m-0">
                            <td class="d-inline-block col-4">Sum</td>
                            <td>{{ case.capitagium_sum }}</td>
                        </tr>
                        <tr class="row m-0">
                            <td class="d-inline-block col-4">Min.</td>
                            <td>{{ case.capitagium_min|floatformat }}</td>
                        </tr>
                        <tr class="row m-0">
                            <td class="d-inline-block col-4">Max</td>
                            <td>{{ case.capitagium_max|floatformat }}</td>
                        </tr>
                        <tr class="row m-0">
                            <td class="d-inline-block col-4">Avg.</td>
                            <td>{{ case.capitagium_avg|floatformat }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block center_bar %}
<div class="card">
    <div class="card-header text-center bg-grey">
        <h2 class="card-title bg-grey">Case {{ case.id }}</h2>
        <h3 class="card-subtitle text-muted"><a href="{% url 'village:detail' case.session.village.id %}" style="color: inherit; text-decoration: none">{{ case.session.village.name}}</a> - {{case.session.get_law_term_display }}, {{ case.session.date.year}}</h3>
        <h6 class="card-subtitle text-muted float-right"><a href="{% url 'record:detail' case.session.record.id %}" style="color: inherit; text-decoration: none">{{ case.session.record.name }}, F.{{ case.session.folio }}</a></h6>
    </div>
    <div class="card-body clearfix" id="main_info">
        <div class="d-flex justify-content-between flex-wrap">

                        <div class="card p-0 col-lg-5">
                            <h3 class="card-header bg-grey">Case Info:</h3>
                            <div class="card-body">
                                <table class="table table-sm">
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Date:</b></td>
                                        <td class="d-inline-block col-8"><a href="{% url 'session:detail' case.session.id %}">{{ case.session.date }}</a></td>
                                    </tr>
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Court Type:</b></td>
                                        <td class="d-inline-block col-8">{{ case.get_court_type_display}}</td>
                                    </tr>
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Case Type:</b></td>
                                        <td class="d-inline-block col-8">{{ case.case_type.case_type}}</td>
                                    </tr>
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Verdict:</b></td>
                                        <td class="d-inline-block col-8">{{ case.verdict.verdict}}</td>
                                    </tr>
                                    {% if case.litigant_count > 0 %}
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Litigant Count:</b></td>
                                        <td class="d-inline-block col-8">{{ case.litigant_count }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if case.pledges_count > 0 %}
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Pledge Count:</b></td>
                                        <td class="d-inline-block col-8">{{ case.pledges_count }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if case.of_interest %}
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Case of Interest?</b></td>
                                        <td  class="d-inline-block col-8">
                                                Yes
                                        </td>
                                    {% endif %}
                                    </tr>
                                    {% if case.ad_legem %}
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>At Law?</b></td>
                                        <td class="d-inline-block col-8">
                                                Yes
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if case.villeinage_mention %}
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Villeinage?</b></td>
                                        <td class="d-inline-block col-8">
                                                Yes
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if case.active_sale%}
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Active Sale?</b></td>
                                        <td class="d-inline-block col-8">
                                                Yes
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if case.incidental_land%}
                                    <tr class="row m-0">
                                        <td class="d-inline-block col-4"><b>Incidental Land?</b></td>
                                        <td class="d-inline-block col-8">
                                                Yes
                                        </td>
                                    </tr>
                                    {% endif %}

                                </table>
                            </div>
                        </div>

                        <div class="card p-0 col-lg-6">
                            <h3 class="card-header bg-grey">Notes:</h3>
                                <div class="card-body">

                                <h6 class="card-text">
                                        {{ case.summary | linebreaksbr }}
                                </h6>
                            </div>
                        </div>
                    </div>
    </div>
    <br>
    <div class="tab-content" id="lists">
        <div class="tab-pane fade show active" id="list_litigants" role="tabpanel">{% include 'case/litigant_list.html' %}</div>
        <div class="tab-pane fade" id="list_cornbot" role="tabpanel"></div>
        <div class="tab-pane fade" id="list_extrahura" role="tabpanel"></div>
        <div class="tab-pane fade" id="list_lands" role="tabpanel"></div>
        <div class="tab-pane fade" id="list_places" role="tabpanel"></div>
        <div class="tab-pane fade" id="list_murrains" role="tabpanel"></div>
        <div class="tab-pane fade" id="list_pledges" role="tabpanel"></div>
    </div>
</div>
{% endblock %}

{% block right_sidebar %}
    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_case %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="{% url 'case:add' %}">Add Case</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.change_case %}
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="{% url 'case:edit' case.pk %}">Edit Case</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.delete_case %}
            <div class="btn-group" role="group">
                <a class="btn btn-danger" href="#">Delete Case</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

    {{ block.super }}
    <script>
        $(document).ready(function(){
            $("#selection_list").on('click', 'a', function(e){
               e.preventDefault();
               var url = $(this).attr("data-url");

               if (typeof url !== "undefined"){
                   var pane = $(this), href = this.hash;

                   $(href).load(url, function(result){
                       pane.tab('show');
                   });
               } else {
                   $(this).tab('show');
               }
            });

            $('a[data-toggle="tab"').on('shown.bs.tab', function(e){
                $.fn.dataTable.tables({visible: true, api: true}).columns.adjust().responsive.recalc();
            });
        })

    </script>

{% endblock %}
