{% extends '_layout/_l_two_col.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block additional_title %}
        <form id="select_cases">
                    {% crispy filter_case_form %}
        </form>
{% endblock %}

{% block center_bar %}
    {{ block.super }}
<div id="list_cases" style="display: none">
    <div class="card">
        <div class="card-body clearfix" id="main_info">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Notes</th>
                    <th>Case ID</th>
                    <th>Village</th>
                    <th>Session</th>
                    <th>Court Type</th>
                    <th>Case Type</th>
                    <th>Verdict</th>
                    <th>Litigant Count</th>
                    <th>Pledge Count</th>
                    <th>Of Note?</th>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block right_sidebar %}
    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_case %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="{% url 'case:add' %}">Add Case</a>
            </div>
            <br>
            <br>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}

    {{ block.super }}

    <script>
     function format( d ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Summary:</b></td>" +
            "<td>" + d.summary + "</td>" +
            "</tr>"
    }


    $(document).ready(function(){

        $('#id_select_village').change(function(){
           var url = $('#id_select_village').attr('data_case_types_url');
           var villageID = $(this).val();
           $.ajax({
                   url: url,
                   data: {
                       'village': villageID
                   },
                   success: function(data){
                       $("#id_select_case_type").html(data);
                   }
               })
        });

        $('#id_select_case_type').change(function(){
            var url = $('#id_select_case_type').attr('data_verdict_types_url');
            var caseTypeID = $(this).val();
            $.ajax({
                url: url,
                data: {
                    'case_type': caseTypeID
                },
                success: function(data){
                    $('#id_select_verdict_type').html(data);
                }
            })

        });

        $("#get_cases").click(function(e){
            $('.btn').removeClass('active');
            $(this).addClass('active');
            var caseType = $("#id_select_case_type").val();
            var village = $("#id_select_village").val();
            var verdictType = $("#id_select_verdict_type").val();
            var apiCall = 'format=datatables&expand=session';
            var url = Urls['api:case-list']();
            if (caseType === 'None' || village === 'None' || verdictType === 'None') {
                if ($("#list_cases").is(":visible")) {
                    $("#list_cases").hide();

                    return
                } else {
                    return
                }
            }
            if ( village === "All" ){
                if ( caseType === "All" ){
                    if ( verdictType === "All" ){
                        url = url + '?' + apiCall;
                    } else {
                        url = url + "?verdict=" + verdictType + '&' + apiCall;
                    }
                } else {
                    if ( verdictType === "All" ){
                        url = url + "?case_type=" + caseType + '&' + apiCall;
                    } else {
                        url = url + "?case_type=" + caseType + "&verdict=" + verdictType + '&' + apiCall;

                    }
                }
            } else {
                if ( caseType === "All" ){
                    if ( verdictType === "All" ){
                        url = url + "?village=" + village + '&' + apiCall;
                    } else {
                        url = url + "?village=" + village + "&verdict=" + verdictType + '&' + apiCall;
                    }
                } else {
                    if ( verdictType === "All" ){
                        url = url + "?village=" + village + "&case_type=" + caseType + '&' + apiCall;
                    } else {
                        url = url + "?village=" + village + "&case_type=" + caseType + "&verdict=" + verdictType + '&' + apiCall;
                    }
                }
            }

            $("#table").DataTable().destroy();
            var table = $('#table').DataTable({
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                paging: true,
                serverSide: true,
                ajax: url,
                order: [[3, "asc"], [4, "asc"]],
                "columns": [
                    {
                        class: 'details-control',
                        orderable: false,
                        data: 'summary',
                        defaultContent: '',
                        render: checkNotes,
                        width:'15px'
                    },
                    {data: "id",
                        defaultContent: '',
                        render: {
                            display: function(data, type, row){
                            var url = Urls['case:detail'](data);
                            return "<a href='"+ url +"'>" + data + "</a>"
                            }
                        }
                    },
                    {data: "session.village",
                        defaultContent: '',
                        name: 'session.village.name',
                        render:{
                            display: function(data, type, row, meta){
                                var url = Urls['village:detail'](data.id);
                                return "<a href='" + url + "'>" + data.name + "</a>";
                            }
                        }
                    },
                    {data: "session",
                        defaultContent: '',
                        name: 'session.date, session.village.name',
                        render:{
                            display: function(data, type, row, meta){
                                var url = Urls['session:detail'](data.id);
                                return "<a href='" + url + "'>" + data.law_term + ', ' + data.human_date + "</a>";

                            },
                        }
                    },
                    {data: "court_type",
                        searchable: false,
                    },
                    {data: "case_type.case_type",
                        name: 'case_type.case_type',
                    },
                    {data: "verdict.verdict",
                        name: 'verdict.verdict',
                    },
                    {data: "litigant_count",
                        searchable: false,
                        orderable: false,
                    },
                    {data: "pledge_count",
                        searchable: false,
                        orderable: false,
                    },
                    {data: "of_interest",
                        defaultContent: '',
                        searchable: false,
                        orderable: false,
                        render:{
                            display: checkMaker,
                        }
                    },
                ],

            });

            // Used to activate the + expansion and trigger the format function.
             $('#table tbody').on('click', 'td.details-control', function(){
                var tr = $(this).closest('tr');
                var tdi = tr.find('#check');
                var row = table.row( tr );
                if (tdi.prop('style').color !== 'gray'){
                    if ( row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');
                        tdi.first().removeClass('fa-minus-square');
                        tdi.first().addClass('fa-plus-square');
                    } else {
                        row.child( format( row.data() ) ).show();
                        tr.addClass('shown');
                        tdi.first().removeClass('fa-plus-square');
                        tdi.first().addClass('fa-minus-square');
                    }
                }
            });

            if ($("#list_cases").not(":visible")){
                $("#list_cases").show();
            }
        });
    });

    </script>

{% endblock %}