{% load crispy_forms_tags %}

<form method="post" action="{% url 'case:add_litigant' case.id %}" class="add-litigant-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Add a New Litigant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">

            <div class="col-3">
                <div style="position: sticky;">
                        <ul class="list-group">
                          <li class="list-group-item text-center">Add</li>
                          <button type="button" class="list-group-item list-group-item-action" id="add_amercement">Amercement</button>
                          <button type="button" class="list-group-item list-group-item-action" id="add_fine">Fine</button>
                          <button type="button" class="list-group-item list-group-item-action" id="add_damage">Damage</button>
                          <button type="button" class="list-group-item list-group-item-action" id="add_heriot">Heriot</button>
                          <button type="button" class="list-group-item list-group-item-action" id="add_capitagium">Capitagium</button>
                          <button type="button" class="list-group-item list-group-item-action" id="add_impercamentum">Impercamentum</button>
                          <button type="button" class="list-group-item list-group-item-action" id="add_land">Land</button>
                        </ul>
                </div>
            </div>

            <div class="col-1">

            </div>

            <div class="col-8">
                {% crispy form %}
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Add Litigant</button>
    </div>
</form>