{% extends '_layout/_l_three_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
    <div id="selection_list">
    {% if case.litigant_exist %}
        <a class="list-group-item list-group-item-action" href="{% url 'case_litigant_list' case.id %}">Show Litigants</a>
    {% endif %}
    {% if case.pledge_exist %}
        <a class="list-group-item list-group-item-action" href="{% url 'case_pledge_list' case.id %}">Show Pledges</a>
    {% endif %}
    {% if case.land_exist %}
        <a class="list-group-item list-group-item-action" href="{% url 'case_land_list' case.id %}">Show Land</a>
    {% endif %}
    {% if case.extrahura_exist %}
        <a class="list-group-item list-group-item-action" href="{% url 'case_extrahura_list' case.id %}">Show Extrahura</a>
    {% endif %}
    {% if case.cornbot_exist %}
        <a class="list-group-item list-group-item-action" href="{% url 'case_cornbot_list' case.id %}">Show Cornbot</a>
    {% endif %}
    {% if case.murrain_exist %}
        <a class="list-group-item list-group-item-action" href="{% url 'case_murrain_list' case.id %}">Show Murrain</a>
    {% endif %}
    {% if case.mentioned_exist %}
        <a class="list-group-item list-group-item-action" href="{% url 'case_place_mentioned_list' case.id %}">Show Places Mentioned</a>
    {% endif %}
    </div>
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title">Case {{ case.id }}</h2>
    <h3 class="card-subtitle text-muted">{{ case.session.village.name}} - {{case.session.get_law_term_display }}, {{ case.session.date.year}}</h3>
    <h6 class="card-subtitle text-muted float-right"><a href="{% url 'record' case.session.record.id %}" style="color: inherit; text-decoration: none">{{ case.session.record.name }}, F.{{ case.session.folio }}</a></h6>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">

                    <div class="card p-0 col-5">
                        <h3 class="card-header">Case Info:</h3>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Date:</b></td>
                                    <td class="d-inline-block col-8"><a href="{% url 'session' case.session.id %}">{{ case.session.date }}</a></td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Court Type:</b></td>
                                    <td class="d-inline-block col-8">{{ case.get_court_type_display}}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Case Type:</b></td>
                                    <td class="d-inline-block col-8">{{ case.case_type.case_type}}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Verdict:</b></td>
                                    <td class="d-inline-block col-8">{{ case.verdict.verdict}}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Litigant Count:</b></td>
                                    <td class="d-inline-block col-8">{{ case.litigant_count }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Pledge Count:</b></td>
                                    <td class="d-inline-block col-8">{{ case.pledge_count }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Case of Interest?</b></td>
                                    <td  class="d-inline-block col-8">
                                        {% if case.of_interest %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>At Law?</b></td>
                                    <td class="d-inline-block col-8">
                                        {% if case.ad_legem %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Villeinage?</b></td>
                                    <td class="d-inline-block col-8">
                                        {% if case.villeinage_mention %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Active Sale?</b></td>
                                    <td class="d-inline-block col-8">
                                        {% if case.active_sale%}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Incidental Land?</b></td>
                                    <td class="d-inline-block col-8">
                                        {% if case.incidental_land%}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    <div class="card p-0 col-6">
                        <h3 class="card-header">Notes:</h3>
                            <div class="card-body">

                            <h6 class="card-text">
                                    {{ case.summary | linebreaksbr }}
                            </h6>
                        </div>
                    </div>
                </div>
</div>

<br>

<div id="list_info">

</div>

{% endblock %}

{% block right_sidebar %}
    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_case %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="#">Add Case</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.change_case %}
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="#">Edit Case</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.delete_case %}
            <div class="btn-group" role="group">
                <a class="btn btn-danger" href="#">Delete Case</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}