{% extends '_layout/_l_two_col.html' %}
{% load widget_tweaks %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block additional_title %}
    <div class="form-inline d-flex justify-content-center" id="select_cases" data_case_types_url="{% url 'case:ajax_case_types' %}">
            <div class="form-group" style="padding-top: 5px">
            {% for field in filter_case_form.visible_fields %}
                <div class="col-2">
                    <h4>{{ field.label_tag }}</h4>
                </div>
                <div class="col-4">
                    {% render_field field class="form-control" id=field.name %}
                </div>
        {% endfor %}
        </div>

        <button type="button" class="btn btn-primary" id="get_cases">Get Cases</button>
    </div>
{% endblock %}

{% block center_bar %}
    {{ block.super }}
<div id="list_cases" style="display: none">
    <div class="card">
        <div class="card-body clearfix" id="main_info">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Notes</th>
                    <th>Case ID</th>
                    <th>Village</th>
                    <th>Session</th>
                    <th>Court Type</th>
                    <th>Case Type</th>
                    <th>Verdict</th>
                    <th>Litigant Count</th>
                    <th>Pledge Count</th>
                    <th>Of Note?</th>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block right_sidebar %}
    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_case %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="{% url 'case:add' %}">Add Case</a>
            </div>
            <br>
            <br>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}

    {{ block.super }}

    <script>
     function format( d ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Summary:</b></td>" +
            "<td>" + d.summary + "</td>" +
            "</tr>"
    }


    $(document).ready(function(){

        $('#select_village').change(function(){
           var url = $('#select_cases').attr('data_case_types_url');
           var villageID = $(this).val();
           $.ajax({
                   url: url,
                   data: {
                       'village': villageID
                   },
                   success: function(data){
                       $("#select_case_type").html(data);
                   }
               })
        });

        $("#get_cases").click(function(e){
            $('.btn').removeClass('active');
            $(this).addClass('active');
            var caseType = $("#select_case_type").val();
            var village = $("#select_village").val();
            var url = Urls['api:case-list']();
            if (caseType === 'None' || village === 'None') {
                if ($("#list_cases").is(":visible")) {
                    $("#list_cases").hide();

                    return
                } else {
                    return
                }
            } else if (caseType === "All"){
                if (village === "All"){
                    url = url + "?exclude[]=session.*&include[]=litigant_count&include[]=session.village.name&include[]=session.law_term&include[]=session.date&include[]=session.human_date&include[]=pledge_count";
                } else {
                    url = url + "?village=" + village + "&exclude[]=session.*&include[]=litigant_count&include[]=session.village.name&include[]=session.law_term&include[]=session.date&include[]=session.human_date&include[]=pledge_count";
                }
            } else {
                if (village === "All"){
                    url = url + "?case_type=" + caseType + "&exclude[]=session.*&include[]=litigant_count&include[]=session.village.name&include[]=session.law_term&include[]=session.date&include[]=session.human_date&include[]=pledge_count";
                } else {
                    url = url + "?village=" + village + "&case_type=" + caseType + "&exclude[]=session.*&include[]=litigant_count&include[]=session.village.name&include[]=session.law_term&include[]=session.date&include[]=session.human_date&include[]=pledge_count";
                }
            }
            $("#table").DataTable().destroy();
            var table = $('#table').DataTable({
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                paging: false,
                ajax: {
                    processing: true,
                    url: url,
                    type: "GET",
                    dataSrc: "cases.",
                },
                order: [[3, "asc"], [4, "asc"]],
                "columns": [
                    {
                        "class": "details-control",
                        "orderable": "false",
                        "data": "summary",
                        "defaultContent": "",
                        "render": checkNotes,
                        width:"15px"
                    },
                    {data: "id",
                        defaultContent: '',
                        render: {
                            display: function(data, type, row, col){
                            var url = Urls['case:detail'](data);
                            return "<a href='"+ url +"'>" + data + "</a>"
                            }
                        }
                    },
                    {data: "session.village.name",
                        defaultContent: '',
                        render:{
                            display: function(data, type, row, col){
                                var url = Urls['village:detail'](row.session.village.id);
                                return "<a href='" + url + "'>" + data + "</a>";
                            }
                        }
                    },
                    {data: "session",
                        defaultContent: '',
                        render:{
                            display: function(data, type, row, col){
                                var url = Urls['session:detail'](data.id);
                                return "<a href'" + url + "'>" + data.human_date + "</a>";

                            },
                        sort: "date"
                        }
                    },
                    {data: "court_type"},
                    {data: "case_type.case_type"},
                    {data: "verdict.verdict"},
                    {data: "litigant_count"},
                    {data: "pledge_count"},
                    {data: "of_interest",
                        defaultContent: '',
                        render:{
                            display: checkMaker,
                        }
                    },
                ],

            });

            // Used to activate the + expansion and trigger the format function.
             $('#table tbody').on('click', 'td.details-control', function(){
                var tr = $(this).closest('tr');
                var tdi = tr.find("i.fa");
                var row = table.row( tr );
                console.log('click');

                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    tdi.first().removeClass('fa-minus-square');
                    tdi.first().addClass('fa-plus-square');
                } else {
                    row.child( format( row.data() ) ).show();
                    tr.addClass('shown');
                    tdi.first().removeClass('fa-plus-square');
                    tdi.first().addClass('fa-minus-square');
                }
            });
            if ($("#list_cases").not(":visible")){
                $("#list_cases").show();
            }
        });
    });

    </script>

{% endblock %}