<div class="card">
    <h3 class="card-header text-center bg-grey">Amercement List</h3>
    <div class="card-body">
            <table class="table table-bordered" id="table">
                <thead>
                    <th>Litigant</th>
                    <th>Amercement</th>
                    <th>Role</th>
                    <th>Verdict</th>
                    <th>Litigants</th>
                </thead>
                <tbody>
                {% for litigant in case.litigants.all %}
                    {% with length=litigant.amercements.all%}
                        {% for amercement in litigant.amercements.all %}
                            {% if forloop.first %}
                                <tr>
                                    <td rowspan="{{ length }}"><a href="{% url 'person:detail' amercement.litigant.person.id %}">{{ amercement.litigant.person.full_name }}</a></td>
                                    <td>{{ amercement.amercement }}</td>
                                    <td rowspan="{{ length }}">{{ amercement.litigant.role.role }}</td>
                                    <td rowspan="{{ length }}">{{ amercement.litigant.case.verdict.verdict }}</td>
                                    <td rowspan="{{ length }}" class="text-center">{{ amercement.litigant.case.litigant_count }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ amercement.amercement }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
    </div>
</div>