{% extends '_layout/_l_single_col.html' %}
{% block single_col %}

    <h3 class="card-header text-center">Land</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th></th>
                    <th>Land ID</th>
                    <th>Parcels</th>
                    <th>Notes</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        var api_url = "/api/lands/?case=" + id ;
        console.log(api_url);
        var table = $("#table").DataTable({
            fixedHeader:{                headerOffset: 50            },
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "lands.",
            },
            "columns": [
                {data: "id",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        $(nTd).html("<a href='" + Urls.land(rowData.id) + "'target='_blank'>" + rowData.id + "</a>");
                    }
                },
                {data: "parcel_list",
                    fnCreatedCell: list_parcels,
                },
                {data: "notes"},
            ]
        });
    });

</script>


{% endblock %}