{% extends '_layout/_l_single_col.html' %}
{% block single_col %}

    <h3 class="card-header text-center">Murrain</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Animal</th>
                    <th>Notes</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1]
        console.log(id)
        var api_url = Urls.murrain_api() + "?case=" + id + "&expand=animal";
        console.log(api_url);
        var table = $("#table").DataTable({
            fixedHeader:{                headerOffset: 50            },
            order: [0, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "",
            },
            "columns": [

                {data: "amount",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        $(nTd).html(rowData.amount + " " + rowData.animal.name);
                    }
                },
                {data: "notes"},
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });
    });

</script>


{% endblock %}