{% extends '_layout/_l_form_input.html' %}
{% load template_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

    {% block left_sidebar %}
        <div class="container" style="position: sticky; top: 65px">
            <button type="button" class="btn btn-success add-litigant pull-right" data-url="{% url 'case:add_litigant' case.id %}"><i class="fas fa-plus"></i>  Add Litigant</button>
        </div>
    {% endblock %}

{% block center_block %}
<div class="p-0 col-lg-8">
    <div class="card">
    <form id="case" method="post">
        {% csrf_token %}

    <div class="card-header text-center">
        <h2 class="card-title">Case {{ case.id }}</h2>
    </div>

    <div class="card-body clearfix" id="main_form">
        <div class="d-flex justify-content-between flex-wrap">

                        <div class="card p-0 col-lg-5">
                            <h3 class="card-header">Case Info:</h3>
                                <div class="card-body">
                                    {% for field in form %}
                                        {% if field.name != 'summary' %}
                                            {{ field | as_crispy_field }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                        </div>
                        <div class="card p-0 col-lg-6">
                            <h3 class="card-header">Notes:</h3>
                            <div class="card-body">
                                {{ form.summary }}
                            </div>
                        </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header text-center">

            <h4 class="card-title">Litigants</h4>
        </div>
        <div class="card-body" id="litigants">
            {% include 'case/litigant_table_for_case.html' %}
        </div>
    </div>
    </div>
</div>
<div class="p-0 col-lg-2">
    <div class="container" style="position: sticky; top: 65px">
        <button type="submit" class="btn btn-success" name="finish_editing">Finish Editing</button>
        <br>
        <br>
        <button type="submit" class="btn btn-success" name="add_another">Add New Case</button>
        <br>
        <br>
    </form>
        <a class="btn btn-danger" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
    </div>
</div>

<!-- Modal for editing litigants. The content is loaded dynamically through ajax. -->
<div class="modal fade" id="modal-litigant">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

    {{ block.super }}
    <script src="{% static '/js/formset.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.add-litigant').click(function(){
               var url = $(this).attr('data-url');
               $.ajax({
                   url: url,
                   type: 'get',
                   dataType: 'json',
                   success: function(data){
                       $('#modal-litigant .modal-content').html(data.html_form);
                   },
                   complete: function(){
                       $('#modal-litigant').modal('show');
                   }
               })
            });

            $('#ajax_litigant_list').on('click', '.edit_litigant', function(){
                var url = $(this).attr('data-url');
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType: 'json',
                    success: function(data){
                        $('#modal-litigant .modal-content').html(data.html_form);
                    },
                    complete: function(){
                        $('#modal-litigant').modal('show');
                    }
                })
            });

            $('#modal-litigant').on('submit', '.add-litigant-form', function(){
               var form = $(this);
               var data = form.serialize();
               console.log(data);
               $.ajax({
                   url: form.attr('action'),
                   data: form.serialize(),
                   type: form.attr('method'),
                   dataType: 'json',
                   success: function(data){
                       if(data.form_is_valid) {
                           $('#ajax_litigant_list ul').html(data.html_litigant_list);
                           $('#modal-litigant').modal('hide');
                       } else {
                           $('#modal-litigant .modal-content').html(data.html_form);
                       }
                   }
               });
                // return false to prevent submission of POST and refreshing of page.
                return false;
            });

            $('#modal-litigant').on('submit', '.edit-litigant-form', function(){
               var form = $(this);
               var data = form.serialize();
               console.log(data);
               $.ajax({
                   url: form.attr('action'),
                   data: form.serialize(),
                   type: form.attr('method'),
                   dataType: 'json',
                   success: function(data){
                       if(data.form_is_valid) {
                           $('#ajax_litigant_list ul').html(data.html_litigant_list);
                           $('#modal-litigant').modal('hide');
                       } else {
                           $('#modal-litigant .modal-content').html(data.html_form);
                       }
                   }
               });
                // return false to prevent submission of POST and refreshing of page.
                return false;
            });
        })
    </script>

{% endblock %}
