{% extends 'layout/_l_single_col.html' %}
{% block single_col %}

    <h3 class="card-header text-center">Land</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>ID</th>
                    <th>Person</th>
                    <th>Role</th>
                    <th>Parcels</th>
                    <th>Villeinage?</th>
                    <th>Notes</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>
    // provides format for nested table that displays when + sign is clicked.

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1]
        console.log(id)
        var api_url = Urls.land_api + "?case=" + id + "/position_list/?expand=session&expand=title";
        console.log(api_url);
        var table = $("#table").DataTable({
            fixedHeader: true,
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "",
            },
            "columns": [
                {data: "title.title"},
                {data: "session.law_term",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        $(nTd).html("<a href='" + Urls.person(rowData.person_id) + "'target='_blank'>" + rowData.session.law_term + " <-- Placeholder Link</a>");
                    }
                },
                {data: "session.year"},
                {data: "definitive"}
            ]
        })
    });

</script>


{% endblock %}