{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Litigant List</h3>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="table" data-page-length="25">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Role</th>
                <th>Amercement</th>
                <th>Fine</th>
                <th>Damages</th>
                <th>Notes</th>
                <th>Distrain</th>
                <th>Attach</th>
                <th>Bail</th>
                <th>Chevage</th>
                <th>Crossed</th>
                <th>Recessit</th>
                <th>Habet Terram</th>
                <th>Notes</th>
                <th>Heriot</th>
                <th>Animal</th>
                <th>Land</th>
                <th>V. Land</th>
                <th>Land Notes</th>
                <th>Impercamentum</th>
                <th>Animal</th>
                <th>Notes</th>
            </thead>
        </table>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>

    // provides format for nested table that displays when + sign is clicked.
    function format( data ){
        return format_person_subdata(data)
    }

    $(document).ready(function(){
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls['api:case-detail'](id);
        var url = url + "?include[]=people.person.village.name&exclude[]=people.person.village.*&include[]=people.person.counts&include[]=people.person.case_dates";
        var table = $('#table').DataTable({
            order:[1, "asc"],
            hideEmptyCols: true,
            scrollX: true,
            fixedHeader:{
              headerOffset: 50
            },
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "case.people.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "person",
                    "defaultContent": "",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "person",
                    render:{
                        display: function(data, type, row, col){
                            url = Urls.person(data.id);
                            return "<a href='"+ url +"'>" + data.full_name + "</a>";
                        },
                        sort: "full_name"
                    }
                },
                {data: "role.role"},
                {data: "amercement",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "fine",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "damage",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "damage_notes",
                    defaultContent: ''
                },
                {data: "distrained",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    },
                },
                {data: "attached",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    },
                },
                {data: "bail",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    },
                },
                {data: "chevage",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "crossed",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    }
                },
                {data: "recessit",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    }
                },
                {data: "habet_terram",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    }
                },
                {data: "chevage_notes",
                    defaultContent: '',
                },
                {data: "heriot",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "heriot",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, meta){
                            if(row.heriot_quantity){
                                if(row.heriot_animal.name !== 'N/A'){
                                    return row.heriot_quantity + ' ' + row.heriot_animal.name;
                                } else {
                                    return row.heriot_animal.name;
                                }
                            }
                        }
                    }
                },
                {data: "land",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, meta){
                            if(data){
                                url = Urls.land(data.id);
                                return "<a href='" + url + "'>" + data.id + "</a>";
                            }
                        }
                    }
                },
                {data: "land_villeinage",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    }
                },
                {data: "land_notes"},
                {data: "impercamentum",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "impercamentum_quantity",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, meta){
                            if(data){
                                return data + ' ' + row.impercamentum_animal.name;
                            }
                        }
                    }
                },
                {data: "impercamentum_notes"}
                ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });
    });


</script>
{% endblock %}