{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Litigant List</h3>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="table" data-page-length="25">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Role</th>
                <th>Amercement</th>
                <th>Fine</th>
                <th>Damages</th>
                <th>Distrain</th>
                <th>Attach</th>
                <th>Bail</th>
                <th>Chevage</th>
                <th>Heriot</th>
                <th>Imperc.</th>
            </thead>
        </table>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>

    // provides format for nested table that displays when + sign is clicked.
    function format( data ){
        return format_person_subdata(data)
    }

    $(document).ready(function(){
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        var url = "/api/cases/" + id + "?include[]=litigants.person.village.name&exclude[]=litigants.person.village.*&include[]=litigants.person.counts&include[]=litigants.person.case_dates";
        var table = $('#table').DataTable({
            order:[1, "asc"],
            hideEmptyCols: true,
            scrollX: true,
            fixedHeader:{
              headerOffset: 50
            },
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "case.litigants.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "person",
                    "defaultContent": "",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "person.first_name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls.person(rowData.person.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.person.full_name + "</a>");
                    }
                },
                {data: "role.role"},
                {data: "amercement",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "fine",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "damage",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "distrained",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    },
                },
                {data: "attached",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    },
                },
                {data: "bail",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    },
                },
                {data: "chevage",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "heriot",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "impercamentum",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                }
                ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });
    });


</script>
{% endblock %}