{% extends 'layout/_l_three_col.html' %}

{% block navbar %}
    {% include 'layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
    <div id="selection_list">
        <a class="list-group-item list-group-item-action active" href="{% url 'case_litigants' case.id %}">Show Litigants</a>
        <a class="list-group-item list-group-item-action" href="{% url 'case_land' case.id %}">Show Land</a>
        <a class="list-group-item list-group-item-action" href="">Show Extrahura</a>
        <a class="list-group-item list-group-item-action" href="">Show Cornbot</a>
        <a class="list-group-item list-group-item-action" href="">Show Murrain</a>
    </div>
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title">Case {{ case.id }}</h2>
    <h3 class="card-subtitle mb-2 text-muted">{{ case.session.village.name}} - {{case.session.get_law_term_display }}, {{ case.session.date.year}}</h3>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">

                    <div class="card p-0 col-5">
                        <h3 class="card-header">Case Info:</h3>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Date:</b></td>
                                    <td class="d-inline-block col-8">{{ case.session.date }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Court Type:</b></td>
                                    <td class="d-inline-block col-8">{{ case.get_court_type_display}}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Case Type:</b></td>
                                    <td class="d-inline-block col-8">{{ case.case_type.case_type}}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Verdict:</b></td>
                                    <td class="d-inline-block col-8">{{ case.verdict.verdict}}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Litigant Count:</b></td>
                                    <td class="d-inline-block col-8">{{ case.litigant_count }}</td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Case of Interest?</b></td>
                                    <td  class="d-inline-block col-8">
                                        {% if case.of_interest %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>At Law?</b></td>
                                    <td class="d-inline-block col-8">
                                        {% if case.ad_legem %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Villeinage?</b></td>
                                    <td class="d-inline-block col-8">
                                        {% if case.villeinage_mention %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Active Sale?</b></td>
                                    <td class="d-inline-block col-8">
                                        {% if case.active_sale%}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="row m-0">
                                    <td class="d-inline-block col-4"><b>Incidental Land?</b></td>
                                    <td class="d-inline-block col-8">
                                        {% if case.incidental_land%}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    <div class="card p-0 col-6">
                        <h3 class="card-header">Notes:</h3>
                            <div class="card-body">

                            <h6 class="card-text">
                                    {{ case.summary | linebreaksbr }}
                            </h6>
                        </div>
                    </div>
                </div>
</div>

<br>

<div id="list_info">

</div>

{% endblock %}

{% block right_sidebar %}
    <button type="button" class="btn btn-secondary float-sm-right">Edit Person</button>
{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>
    $(document).ready(function(){
         var url = window.location.pathname;
        var id = url.split('/').reverse()[1]
        $("#list_info").load(Urls.case_litigants(id))
    })
</script>
{% endblock %}