{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Litigant List</h3>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="table" data-page-length="25">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Role</th>
                <th>Amercement</th>
                <th>Fine</th>
                <th>Damages</th>
                <th>Distrain</th>
                <th>Attach</th>
                <th>Bail</th>
                <th>Chevage</th>
                <th>Heriot</th>
                <th>Imperc.</th>
            </thead>
        </table>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>

    // provides format for nested table that displays when + sign is clicked.
    function format( d ){
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Village</b></td>" +
            "<td>" + d.person.village.name + "</td>" +
            "<td><b>Gender</b></td>" +
            "<td>" + d.person.gender_display + "</td>" +
            "<td><b>Status</b></td>" +
            "<td>" + d.person.status_display + "</td>" +
            "</tr>" +
            "<tr>" +
            "<td><b>Litigation</b></td>" +
            "<td>" + d.person.counts.litigant + "</td>" +
            "<td><b>All Cases</b></td>" +
            "<td>" + d.person.counts.case + "</td>" +
            "<td><b>Earliest Case</b></td>" +
            "<td>" + d.person.case_dates.earliest_case.law_term + ", " + d.person.case_dates.earliest_case.year + "</td>" +
            "<td><b>Latest Case</b></td>" +
            "<td>" + d.person.case_dates.latest_case.law_term + ", " + d.person.case_dates.latest_case.year + "</td>" +
            "</tr>" +
            "<tr>" +
            "<td><b>Amercements</b></td>" +
            "<td>" + d.person.counts.amercement_count + "</td>" +
            "<td><b>Fines</b></td>" +
            "<td>" + d.person.counts.fine_count + "</td>" +
            "<td><b>Damages</b></td>" +
            "<td>" + d.person.counts.damage_count + "</td>" +
            "</tr>" +
            "<tr>" +
            "<td><b> Chevages</b></td>" +
            "<td>" + d.person.counts.chevage_count + "</td>" +
            "<td><b>Impercamenta</b></td>" +
            "<td>" + d.person.counts.impercamentum_count + "</td>" +
            "<td><b>Heriot</b></td>" +
            "<td>" + d.person.counts.heriot_count + "</td>" +
            "</tr>" +
            "</table>"
    }

    $(document).ready(function(){
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        var url = "/api/cases/" + id + "?include[]=litigants.person.village.name&exclude[]=litigants.person.village.*&include[]=litigants.person.counts&include[]=litigants.person.case_dates";
        var table = $('#table').DataTable({
            order:[1, "asc"],
            scrollX: true,
            fixedHeader:{
              headerOffset: 50
            },
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "case.litigants.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "person",
                    "defaultContent": "",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "person.first_name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls.person(rowData.person.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.person.full_name + "</a>");
                    }
                },
                {data: "role.role"},
                {data: "amercement",
                    fnCreatedCell: replace_money,
                },
                {data: "fine",
                    fnCreatedCell: replace_money,
                },
                {data: "damage",
                    fnCreatedCell: replace_money,
                },
                {data: "distrained",
                    fnCreatedCell: check_maker,
                },
                {data: "attached",
                    fnCreatedCell: check_maker,
                },
                {data: "bail",
                   fnCreatedCell: check_maker,
                },
                {data: "chevage",
                    fnCreatedCell: replace_money,
                },
                {data: "heriot",
                    fnCreatedCell: replace_money,
                },
                {data: "impercamentum",
                    fnCreatedCell: replace_money,
                },
                ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });
    });

function check_maker(nTd, cellData, rowData, row, col){
    if( cellData) {
        $(nTd).html("<p class='text-center'> √ </p>");
    } else {
        $(nTd).html("<p class='text-center'> -- </p>")
    }
}



</script>
{% endblock %}