{% extends '_layout/_l_single_col.html' %}
{% block single_col %}

    <h3 class="card-header text-center">Land</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th></th>
                    <th>Land ID</th>
                    <th>Parcels</th>
                    <th>Notes</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>

    function format( data ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Tenant History</b></td>" +
            "<td>" + formatTenantHistory(data) +"</td>" +
            "</tr>"
    }

    function formatTenantHistory(data){
        var concat = '';
        data.tenant_history.forEach(function (obj, index) {
            concat = concat + '<div class="d-flex justify-content-between">' +
                                    '<div class="mr-auto p-0">' +
                                        '<u>Name:</u> ' + '<a href="' + Urls['person:detail'](obj.person.id) + '">' + obj.person.full_name + '</a>' +
                                    '</div> ' +
                                    '<div class="p-0">' +
                                        '<u>Session:</u> ' + obj.case.session.law_term + ', ' + obj.case.session.year +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="p-0">' +
                                        '<u>Role:</u> ' + obj.role.role +
                                    '</div>' +
                                '<hr>';
            return concat;
            });
        return concat;
    }

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls['api:land-list']();
        var api_url = url + "?case=" + id + "&exclude[]=tenant_history.*&include[]=tenant_history.person&include[]=tenant_history.role&include[]=tenant_history.case.session";
        var table = $("#table").DataTable({
            fixedHeader:{
                headerOffset: 50
            },
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "lands.",
            },
            columns: [
                {
                    "class": "details-control",
                    orderable: "false",
                    data: "tenant_history",
                    defaultContent: "",
                    render: checkNotes,
                    width:"15px"
                },
                {data: "id",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, col){
                            return "<a href='" + Urls['land:detail'](data) + "'target='_blank'>" + data + "</a>"
                        }
                    }
                },
                {data: "parcel_list",
                    defaultContent: '',
                    render: {
                        display: list_parcels,
                    }
                },
                {data: "notes"},
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });
    });

</script>


{% endblock %}