<table class="table table-bordered" id="cornbot_table" data-ajax="{% url 'api:cornbot-list' %}?case={{ view.kwargs.pk }}&keep=amount&expand=price,crop_type&format=datatables" data-page-length="25">
    <thead>
        <th>Cornbot</th>
        <th>Assessed Price</th>
        <th>Notes</th>
    </thead>
</table>

<script>
    var cornbot_table = $("#cornbot_table").dataTable({

        serverSide: true,
        columns: [
            {data: 'crop_type.name',
                render: {
                    display: function(data, type, row){
                        return row.amount + ' of ' + data
                    }
                }
            },
            {data: 'price.in_denarius',
                render:{
                    display: function(data, type, row){
                        return row.price.amount + ' (' + data + 'd.)'
                    }
                }
            },
            {data: 'notes'}
        ]
    })
</script>