<h3 class="card-header text-center bg-grey">Extrahura</h3>
    <div class="card-body">
            <table class="table table-bordered" id="table" data-page-length="25">
                <thead>
                    <th>Animal</th>
                    <th>Assessed Price</th>
                </thead>
                <tbody>
                    {% for extrahura in case.extrahura.all %}
                        <tr>
                            <td>{{ extrahura.amount }} {{ extrahura.animal }}</td>
                            <td>{{ extrahura.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>