<h3 class="card-header text-center">Land</h3>
    <div class="card-body">
            <table class="table table-bordered" id="table" data-page-length="25">
                <thead>
                    <th>History</th>
                    <th>Land ID</th>
                    <th>Parcels</th>
                    <th>Notes</th>
                </thead>
                <tbody>
                    {% for land in lands %}
                        <tr>
                            <td data-toggle="collapse" data-target=".land_{{ land.id }}_summary" class="details-control"><i class="fas fa-plus-square"></i></td>
                            <td><a href="{% url 'land:detail' land.id %}">{{ land.id }}</a></td>
                            <td><ul class="list-group">
                                {% for parcel in land.parcels.all %}
                                    <li class="list-group-item">{{ parcel.amount }} {{ parcel.parcel_type.parcel_type }} of {{ parcel.parcel_tenure.tenure }}</li>
                                {% endfor %}
                            </ul></td>
                            <td>{{ land.notes }}</td>
                        </tr>
                        {% with length=land.landtocase_set.all|length %}
                        {% for litigant in land.landtocase_set.all %}
                            {% if forloop.first %}
                            <tr>
                                <th class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"> Case<hr></div></th>
                                <th class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"> Date<hr></div></th>
                                <th class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"> Person<hr></div></th>
                                <th class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"> Role<hr></div></th>
                            </tr>

                            </tr>
                            <tr>
                                <td class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"><a href="{% url 'case:detail' litigant.litigant.case.id %}"> {{ litigant.litigant.case.id }}</a><hr></div></td>
                                <td class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"><a href="{% url 'session:detail' litigant.litigant.case.session.id %}"> {{ litigant.litigant.case.session.date }}</a><hr></div></td>
                                <td class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"><a href="{% url 'person:detail' litigant.litigant.person.id %}"> {{ litigant.litigant.person.full_name }}</a><hr></div></td>
                                <td class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"> {{ litigant.litigant.role.role }}<hr></div></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"><a href="{% url 'case:detail' litigant.litigant.case.id %}"> {{ litigant.litigant.case.id }}</a><hr></div></td>
                                <td class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"><a href="{% url 'session:detail' litigant.litigant.case.session.id %}"> {{ litigant.litigant.case.session.date }}</a><hr></div></td>
                                <td class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"><a href="{% url 'person:detail' litigant.litigant.person.id %}"> {{ litigant.litigant.person.full_name }}</a><hr></div></td>
                                <td class="hiddenRow"><div class="collapse land_{{ land.id }}_summary"> {{ litigant.litigant.role.role }}<hr></div></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
    </div>