<table class="table table-bordered" id="murrain_table" data-ajax="{% url 'api:murrain-list' %}?case={{ view.kwargs.pk }}&keep=amount&expand=animal&format=datatables" data-page-length="25">
    <thead>
        <th>Animal</th>
        <th>Notes</th>
    </thead>
</table>

<script>
    var murrain_table = $("#murrain_table").dataTable({

        serverSide: true,
        columns: [
            {data: 'animal.name',
                render:{
                    display: function(data, type, row){
                        return row.amount + ' ' + data
                    }
                }
            },
            {data: 'notes'}
        ]
    })
</script>
