{% extends '_layout/_l_three_col.html' %}

{% block left_sidebar %}
    <div class="list-group" id="selection_list" role="tablist">
        <a class="list-group-item list-group-item-action active" href="#stats_list" role="tab" data-toggle="list">Stats</a>
    {% if person.case_exists %}
        <a class="list-group-item list-group-item-action" href="#case_list" data-url="{% url 'person:cases' person.id %}" role="tab" data-toggle="list">Case List</a>
    {% endif %}
    {% if person.pledge_exists %}
        <a class="list-group-item list-group-item-action" href="#pledge_list" data-url="{% url 'person:pledges' person.id %}" role="tab" data-toggle="list">Pledge List</a>
    {% endif %}
    {% if person.land_exists %}
        <a class="list-group-item list-group-item-action" href="#pledge_list" data-url="{% url 'person:lands' person.id %}" role="tab" data-toggle="list">Land List</a>
    {% endif %}
    {% if person.relationship_exists %}
        <a class="list-group-item list-group-item-action" href="#relationship_list" data-url="{% url 'person:relationships' person.id %}" role="tab" data-toggle="list">Relationship List</a>
    {% endif %}
    {% if person.position_exists %}
        <a class="list-group-item list-group-item-action" href="#position_list" data-url="{% url 'person:positions' person.id %}" role="tab" data-toggle="list">Position List</a>
    {% endif %}


        <br>
    {% if person.amercement_exists %}
        <a class="list-group-item list-group-item-action" href="#amercement_list" data-url="{% url 'person:amercements' person.id %}" role="tab" data-toggle="list">Amercement Cases</a>
    {% endif %}
    {% if person.damage_exists %}
        <a class="list-group-item list-group-item-action" href="#damage_list" data-url="{% url 'person:damages' person.id %}" role="tab" data-toggle="list">Damage Cases</a>
    {% endif %}
    {% if person.fine_exists %}
        <a class="list-group-item list-group-item-action" href="#fine_list" data-url="{% url 'person:fines' person.id %}" role="tab" data-toggle="list">Fine Cases</a>
    {% endif %}
        <br>
    {% if person.capitagia_exists %}
        <a class="list-group-item list-group-item-action" href="#capitagium_list" data-url="{% url 'person:capitagia' person.id %}" role="tab" data-toggle="list">Capitagium Cases</a>
    {% endif %}
    {% if person.impercamentum_exists %}
        <a class="list-group-item list-group-item-action" href="#impercamentum_list" data-url="{% url 'person:impercamenta' person.id %}" role="tab" data-toggle="list">Impercamenta Cases</a>
    {% endif %}
    {% if person.heriot_exists %}
        <a class="list-group-item list-group-item-action" href="#heriot_list" data-url="{% url 'person:heriots' person.id %}" role="tab" data-toggle="list">Heriot Cases</a>
    {% endif %}

    </div>
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title">{{ person.full_name }}</h2>
    <h3 class="card-subtitle mb-2 text-muted">{{ person.village.name }}</h3>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">

        <div class="card p-0 col-lg-5">
            <h3 class="card-header bg-grey">Person Info:</h3>
            <div class="card-body">
                <table class="table table-sm">
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>First Name:</b></td>
                        <td class="d-inline-block col-8">{{ person.first_name }}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Relation Name:</b></td>
                        <td class="d-inline-block col-8">{{ person.relation_name }}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Last Name:</b></td>
                        <td class="d-inline-block col-8">{{ person.last_name }}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Status:</b></td>
                        <td class="d-inline-block col-8">{{ person.get_status_display}}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Gender:</b></td>
                        <td class="d-inline-block col-8">{{ person.get_gender_display}}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Home Village:</b></td>
                        <td class="d-inline-block col-8"><a href="{% url 'village:detail' person.village.id %}">{{ person.village.name }}</a></td>
                    </tr>
                    {% if person.tax_1332 %}
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>1332 Tax</b></td>
                        <td class="d-inline-block col-8">{{ person.tax_1332 }}</td>
                    </tr>
                    {% endif %}
                    {% if person.tax_1379 %}
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>1379 Tax</b></td>
                        <td class="d-inline-block col-8">{{ person.tax_1379 }}</td>
                    </tr>
                    {% endif %}
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Earliest Case</b></td>
                        {% if person.earliest_case.id is not None %}
                        <td class="d-inline-block col-8"><a href="{% url 'case:detail' person.earliest_case.id %}">{{ person.earliest_case.session.village.name }} | {{ person.earliest_case.session.get_law_term_display }}, {{ person.earliest_case.session.year }}</a></td>
                        {% else %}
                        <td class="d-inline-block col-8">None</td>
                        {% endif %}
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Latest Case</b></td>
                        {% if person.latest_case.id is not None %}
                        <td class="d-inline-block col-8"><a href="{% url 'case:detail' person.latest_case.id %}">{{ person.latest_case.session.village.name }} | {{ person.latest_case.session.get_law_term_display }}, {{ person.latest_case.session.year }}</a></td>
                        {% else %}
                        <td class="d-inline-block col-8">None</td>
                        {% endif %}
                    </tr>

                </table>
            </div>
        </div>

        <div class="card p-0 col-lg-6">
            <h3 class="card-header bg-grey">Notes:</h3>
                <div class="card-body">

                    <h6 class="card-text">
                        {{ person.notes | linebreaksbr }}
                </h6>
            </div>
        </div>

    </div>
</div>

<br>

<div class="tab-content" id="list_info">
    <div class="tab-pane show active fade" id="stats_list" role="tabpanel">{% include 'person/stats_list.html' %}</div>
    <div class="tab-pane fade" id="case_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="pledge_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="land_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="relationship_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="position_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="amercement_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="damage_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="fine_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="capitagium_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="impercamentum_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="heriot_list" role="tabpanel"></div>
</div>

{% endblock %}

{% block right_sidebar %}

    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_person %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="{% url 'person:add' %}">Add Person</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.change_person %}
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="{% url 'person:edit' person.id %}">Edit Person</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.delete_person %}
            <div class="btn-group" role="group">
                <a class="btn btn-danger" href="{% url 'person:delete' person.id %}">Delete Person</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

    {{ block.super }}

<script>
    $(document).ready(function(){
        $("#selection_list").on('click', 'a', function(e){
           e.preventDefault();
           var url = $(this).attr("data-url");

           if (typeof url !== "undefined"){
               var pane = $(this), href = this.hash;

               $(href).load(url, function(result){
                   pane.tab('show');
               });
           } else {
               $(this).tab('show');
           }
        });

        $('a[data-toggle="tab"').on('shown.bs.tab', function(e){
            $.fn.dataTable.tables({visible: true, api: true}).columns.adjust().responsive.recalc();
        });
    })

</script>

{% endblock %}
