{% extends '_layout/_l_two_col.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block additional_title %}
    <form id="select_village">
            {% crispy filter_village_form %}
    </form>
{% endblock %}


{% block center_bar %}
    {{ block.super }}
<div id="list_people" style="display: none">
    <div class="card">
        <div class="card-body clearfix" id="main_info">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Name</th>
                    <th>Village</th>
                    <th>Status</th>
                    <th>Gender</th>
                    <th>Earliest Case</th>
                    <th>Latest Case</th>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block right_sidebar %}
        {% if perms.peasantlegaldb.add_person %}
                <a class="btn btn-success" href="{% url 'person:add' %}">Add Person</a>
        {% endif %}
{% endblock %}

{% block scripts %}

    {{ block.super }}

    <script>

    $(document).ready(function(){

        $(".analysis").click(function(e){
            var village = $("#select_village").val();
            var btnClicked = e.target.id;

            if (village === '' || village === 'None'){
                alert("Please select a village");
                return;
            } else if (village === 'All'){
                alert("Chevage Analysis view is too slow when run with all villages. Please select only one village.");
                return;
            } else {
                var url = Urls.chevage_analysis({village_pk: village});
                window.location = url;
            }
        });

        $("#get_people").click(function(e){
            $(".btn").removeClass('active');
            $(this).addClass('active');

            var village = $("#id_select_village").val();
            var filter = $('#id_select_filter').val();
            var apiCall = 'format=datatables&expand=village,earliest_case,latest_case';
            var btnClicked = e.target.id;
            var url = Urls["api:person-list"]();

            if (village === 'None' || filter === 'None') {
                if ($("#list_people").is(":visible")) {
                    $("#list_people").hide();
                    return
                } else {
                    return
                }
            } else if (village === "All"){
                    if (filter === "residents") {
                        url = url + '?' + apiCall;
                    } else if (filter === "litigants") {
                        url = url + '?' + apiCall;
                    } else {
                        url = url + "?" + filter + "=true&" + apiCall;
                    }
            }
            else {
                if (filter === "residents") {
                        url = url + "?village_to_resident=" + village + "&" + apiCall;
                    } else if (filter === "litigants") {
                        url = url + "?village_to_litigant=" + village + "&" + apiCall;
                    } else {
                        url = url + "?" + filter + "=true&village_to_litigant=" + village + "&" + apiCall;
                    }
            }
            $("#table").DataTable().destroy();
            var table = $('#table').DataTable({
                order: [0, "asc"],

                scrollCollapse: true,
                paging: true,
                serverSide: true,
                ajax: url,
                "columns": [
                    {data: "full_name",
                        defaultContent: '',
                        render: {
                            display: function(data, type, row){
                                var url = Urls['person:detail'](row.id);
                                return "<a href='" + url + "'>" + data + "</a>";
                            },
                        }
                    },
                    {data: "village",
                        name: 'village.name',
                        defaultContent: '',
                        render: {
                            display: function(data, type, row){
                                var url = Urls['village:detail'](data.id);
                                return "<a href='" + url + "'>" + data.name + "</a>";
                            },
                        }
                    },
                    {data: "status_display",
                        searchable: false,
                        name: 'status'
                    },
                    {data: "gender_display",
                        searchable: false,
                        name: 'gender'
                    },
                    {data: 'earliest_case',
                        name: 'earliest_case.session.date, earliest_case.session.village.name',
                        defaultContent: '',
                        render: {
                            display: function(data, type, row){
                                if (data){
                                    var url = Urls['case:detail'](data.id);
                                    return "<a href='" + url + "'>" + data.session.village.name + ' | ' + data.session.law_term + ', ' + data.session.year + "</a>";
                                } else {
                                    return 'N/A';
                                }
                            }
                        }
                    },
                    {data: 'latest_case',
                        name: 'latest_case.session.date, latest_case.session.village.name',
                        defaultContent: '',
                        render: {
                            display: function (data, type, row) {
                                if (data) {
                                    var url = Urls['case:detail'](data.id);
                                    return "<a href='" + url + "'>" + data.session.village.name + ' | ' + data.session.law_term + ', ' + data.session.year + "</a>";
                                } else {
                                    return 'N/A';
                                }
                            }
                        }
                    },
                ],

            });
            if ($("#list_people").not(":visible")){

                $("#list_people").show();

            }
        });

    });
    </script>

{% endblock %}