{% extends '_layout/_l_three_col.html' %}

{% block navbar %}
{% include '_layout/__navbar.html' %}
{% endblock %}

{% block left_sidebar %}
    <div id="selection_list">
        <a class="list-group-item list-group-item-action active" href="{% url 'person_stats' person.id %}">Stats</a>
    {% if person.case_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'person_case_list' person.id %}" >Case List</a>
    {% endif %}
    {% if person.pledge_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'pledge_list' person.id %}">Pledge List</a>
    {% endif %}
    {% if person.land_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'person_land_history' person.id %}">Land List</a>
    {% endif %}
    {% if person.relationship_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'relationship_list' person.id %}">Relationship List</a>
    {% endif %}
    {% if person.position_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'position_list' person.id %}">Position List</a>
    {% endif %}


        <br>
    {% if person.amercement_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'person_amercement_list' person.id %}">Amercement Cases</a>
    {% endif %}
    {% if person.fine_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'person_fine_list' person.id %}">Fine Cases</a>
    {% endif %}
    {% if person.damage_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'person_damage_list' person.id %}">Damage Cases</a>
    {% endif %}
        <br>
    {% if person.chevage_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'person_chevage_list' person.id %}">Chevage Cases</a>
    {% endif %}
    {% if person.impercamentum_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'person_impercamentum_list' person.id %}">Impercamenta Cases</a>
    {% endif %}
    {% if person.heriot_exists %}
        <a class="list-group-item list-group-item-action " href="{% url 'person_heriot_list' person.id %}">Heriot Cases</a>
    {% endif %}

    </div>
{% endblock %}

{% block center_bar %}

<div class="card-header text-center">
    <h2 class="card-title">{{ person.full_name }}</h2>
    <h3 class="card-subtitle mb-2 text-muted">{{ person.village.name }}</h3>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">

        <div class="card p-0 col-5">
            <h3 class="card-header">Person Info:</h3>
            <div class="card-body">
                <table class="table table-sm">
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>First Name:</b></td>
                        <td class="d-inline-block col-8">{{ person.first_name }}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Relation Name:</b></td>
                        <td class="d-inline-block col-8">{{ person.relation_name }}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Last Name:</b></td>
                        <td class="d-inline-block col-8">{{ person.last_name }}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Status:</b></td>
                        <td class="d-inline-block col-8">{{ person.get_status_display}}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Gender:</b></td>
                        <td class="d-inline-block col-8">{{ person.get_gender_display}}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Home Village:</b></td>
                        <td class="d-inline-block col-8"><a href="{% url 'village' person.village.id %}">{{ person.village.name }}</a></td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>1332 Tax</b></td>
                        <td class="d-inline-block col-8">{{ person.tax_1332 }}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>1379 Tax</b></td>
                        <td class="d-inline-block col-8">{{ person.tax_1379 }}</td>
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Earliest Case</b></td>
                        {% if person.earliest_case.id is not None %}
                        <td class="d-inline-block col-8"><a href="{% url 'case' person.earliest_case.id %}">{{ person.earliest_case.village.name }} | {{ person.earliest_case.law_term }}, {{ person.earliest_case.year }}</a></td>
                        {% else %}
                        <td class="d-inline-block col-8">None</td>
                        {% endif %}
                    </tr>
                    <tr class="row m-0">
                        <td class="d-inline-block col-4"><b>Latest Case</b></td>
                        {% if person.latest_case.id is not None %}
                        <td class="d-inline-block col-8"><a href="{% url 'case' person.latest_case.id %}">{{ person.latest_case.village.name }} | {{ person.latest_case.law_term }}, {{ person.latest_case.year }}</a></td>
                        {% else %}
                        <td class="d-inline-block col-8">None</td>
                        {% endif %}
                    </tr>

                </table>
            </div>
        </div>

        <div class="card p-0 col-6">
            <h3 class="card-header">Notes:</h3>
                <div class="card-body">

                    <h6 class="card-text">
                        {{ person.notes | linebreaksbr }}
                </h6>
            </div>
        </div>

    </div>
</div>

<br>

<div id="list_info">

</div>

{% endblock %}

{% block right_sidebar %}

    {{ block.super }}

{% endblock %}

{% block scripts %}

{{ block.super }}

{% if  person.id == 91 %}
    javascript for editing goes here. Change person.id to user verification.
{% endif %}

<script>
    $(document).ready(function(){
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        $("#list_info").load(Urls.person_stats(id))

    });
</script>


{% endblock %}
