{% extends '_layout/_l_two_col.html' %}
{% load widget_tweaks %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block additional_title %}
    <form>
        {% csrf_token %}

        <div class="form-group d-flex justify-content-center" style="padding-top: 5px">
        {% for field in filter_village_form.visible_fields %}
                <div class="col-sm-2">
                    <h4>{{ field.label_tag }}</h4>
                </div>
                <div class="col-md-3.5">
                    {% render_field field class="form-control" id="select_village" %}
                </div>
        {% endfor %}
        </div>
{% endblock %}


{% block center_bar %}
    {{ block.super }}
    <br>
        <div class="mx-auto">
            <div class="row">
                <div class="btn-group">
                    <!-- remember to add 'gets' class so JQuery can properly ID the buttons -->
                    <button type="button" class="btn btn-success gets" id="residents">Residents</button>
                    <button type="button" class="btn btn-success gets" id="litigants">Litigants</button>
                    <button type="button" class="btn btn-success gets" id="pledges_given">Pledge Givers</button>
                    <button type="button" class="btn btn-success gets" id="pledges_received">Pledge Receivers</button>
                    <button type="button" class="btn btn-success gets" id="amercement">Amercements</button>
                    <button type="button" class="btn btn-success gets" id="fine">Fines</button>
                    <button type="button" class="btn btn-success gets" id="damage">Damages</button>
                    <button type="button" class="btn btn-success gets" id="chevage">Chevages</button>
                    <button type="button" class="btn btn-success gets" id="impercamentum">Impercamenta</button>
                    <button type="button" class="btn btn-success gets" id="heriot">Heriots</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="btn-group">
                    <div class="btn-group">
                        <!-- Remember to add 'analysis' class so JQuery can properly ID the buttons -->
                        <button type="button" class="btn btn-success analysis" id="chevage">Chevage Analysis</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="btn-group">
                </div>

            </div>

            </div>

    </form>
</div>

    <br>
<div id="list_people" style="display: none">
    <div class="card">
        <div class="card-body clearfix" id="main_info">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Details</th>
                    <th>Name</th>
                    <th>Village</th>
                    <th>Status</th>
                    <th>Gender</th>
                    <th>Earliest Case</th>
                    <th>Latest Case</th>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block right_sidebar %}
{% endblock %}

{% block scripts %}

    {{ block.super }}

    <script>
        function format( data ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Litigation</b></td>" +
            "<td><b>Cases</b></td>" +
            "<td><b>Chevage</b></td>" +
            "<td><b>Pledges Given</b></td>" +
            "<td><b>Pledges Received</b></td>" +
            "<td><b>Relationships</b></td>" +
            "<td><b>Positions</b></td>" +
            "</tr>" +
            "<tr>" +
            "<td>"+ data.counts.litigation +"</td>" +
            "<td>" + data.counts.all_cases + "</td>" +
            "<td>" + data.counts.monetary.chevage_count + "</td>" +
            "<td>" + data.counts.pledge.given + "</td>" +
            "<td>" + data.counts.pledge.received + "</td>" +
            "<td>" + data.counts.relationship + "</td>" +
            "<td>" + data.counts.position + "</td>" +
            "</tr>" +
        "</table>"
    }

    $(document).ready(function(){

        $(".analysis").click(function(e){
            var village = $("#select_village").val();
            var btnClicked = e.target.id;

            if (village === ''){
                alert("Please select a village");
                return
            } else{
                var url = Urls.chevage_analysis({village_pk: village});
                window.location = url;
            }
        });

        $(".gets").click(function(e){
            $(".btn").removeClass('active');
            $(this).addClass('active');

            var village = $("#select_village").val();
            var btnClicked = e.target.id;
            var url = Urls["api:person-list"]();

            if (village === ''){
                alert("Please select a village");
                return
            }

            if (village === 'None') {
                if ($("#list_people").is(":visible")) {
                    $("#list_people").hide();
                    return
                } else {
                    return
                }
            }
            if (village === "All"){
                    if (btnClicked === "residents") {
                        url = url + "?exclude[]=village.*&include[]=village.name&include[]=counts&include[]=case_dates";
                    } else if (btnClicked === "litigants") {
                        url = url + "?exclude[]=village.*&include[]=village.name&include[]=counts&include[]=case_dates";
                    } else {
                        url = url + "?" + btnClicked + "=true&exclude[]=village.*&include[]=village.name&include[]=counts&include[]=case_dates";
                    }
            }
            else {
                if (btnClicked === "residents") {
                        url = url + "?filter{village.id}=" + village + "&exclude[]=village.*&include[]=village.name&include[]=counts&include[]=case_dates";
                    } else if (btnClicked === "litigants") {
                        url = url + "?village_to_litigant=" + village + "&exclude[]=village.*&include[]=village.name&include[]=counts&include[]=case_dates";
                    } else {
                        url = url + "?" + btnClicked + "=true&village_to_litigant=" + village + "&exclude[]=village.*&include[]=village.name&include[]=counts&include[]=case_dates";
                    }
            }
            $("#table").DataTable().destroy();
            var table = $('#table').DataTable({
                order: [1, "asc"],
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                paging: false,
                ajax: {
                    processing: true,
                    url: url,
                    type: "GET",
                    dataSrc: "people.",
                },
                "columns": [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": "counts",
                        "defaultContent": "",
                        "render": checkNotes,
                        width:"15px"
                    },
                    {data: "full_name",
                        defaultContent: '',
                        render: {
                            display: function(data, type, row, meta){
                                return "<a href='" + Urls.person(row.id) + "'>" + row.full_name + "</a>";
                            },
                        }
                    },
                    {data: "village.name"},
                    {data: "status_display"},
                    {data: "gender_display"},
                    {data: "case_dates.earliest_case",
                        defaultContent: '',
                        render: {
                            display: formatCaseDate,
                            sort: "date",
                        }
                    },
                    {data: "case_dates.latest_case",
                        defaultContent: '',
                        render: {
                            display: formatCaseDate,
                            sort: "date",
                        }
                    },
                ],

            });
            $('#table tbody').on('click', 'td.details-control', function(){
                var tr = $(this).closest('tr');
                var tdi = tr.find("i.fa");
                var row = table.row( tr );

                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    tdi.first().removeClass('fa-minus-square');
                    tdi.first().addClass('fa-plus-square');
                } else {
                    row.child( format( row.data() ) ).show();
                    tr.addClass('shown');
                    tdi.first().removeClass('fa-plus-square');
                    tdi.first().addClass('fa-minus-square');
                }
            });
            if ($("#list_people").not(":visible")){

                $("#list_people").show();

            }
        });

    });
    </script>

{% endblock %}