<div class="card">
    <h3 class="card-header text-center bg-grey">Amercement List</h3>
    <div class="card-body">
            <table class="table table-bordered" id="table">
                <thead>
                    <th>Case</th>
                    <th>Amercement</th>
                    <th>Session</th>
                    <th>Court</th>
                    <th>Case Type</th>
                    <th>Role</th>
                    <th>Verdict</th>
                    <th>Litigants</th>
                </thead>
                <tbody>
                {% for cases in list %}
                    {% with length=cases.amercements.all|length %}
                        {% for amercement in cases.amercements.all %}
                            {% if forloop.first %}
                                <tr>
                                    <td rowspan="{{ length }}"><a href="{% url 'case:detail' amercement.litigant.case.id %}">{{ amercement.litigant.case.id }}</a></td>
                                    <td>{{ amercement.amercement }}</td>
                                    <td rowspan="{{ length }}"><a href="{% url 'session:detail' amercement.litigant.case.session.id %}">{{ amercement.litigant.case.session }}</a></td>
                                    <td rowspan="{{ length }}">{{ amercement.litigant.case.get_court_type_display }}</td>
                                    <td rowspan="{{ length }}">{{ amercement.litigant.case.case_type.case_type }}</td>
                                    <td rowspan="{{ length }}">{{ amercement.litigant.role.role }}</td>
                                    <td rowspan="{{ length }}">{{ amercement.litigant.case.verdict.verdict }}</td>
                                    <td rowspan="{{ length }}" class="text-center">{{ amercement.litigant.case.litigant_count }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ amercement.amercement }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>

        {% if list.has_other_pages %}
            <nav aria-label="Amercement list navigation">
                <ul class="pagination">
                    {% if list.has_previous %}
                        <li class="page-item"><a class="page-link" data-url="{% url 'person:amercements' person.id %}?page={{ list.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                {% for i in list.paginator.page_range %}
                    {% if list.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}</span><span class="sr-only">(current)</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" data-url="{% url 'person:amercements' person.id %}?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if list.has_next %}
                    <li class="page-item"><a class="page-link" data-url="{% url 'person:amercements' person.id %}?page={{ list.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>

</div>

<!-- used to navigate pagination -->
<script>
    $('.page-link').click(function(){
            var url = $(this).attr('data-url');
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function(data){
                    $('#list_info').html(data.html_list);
                }
            })
        });
</script>