<div class="card">
    <h3 class="card-header text-center bg-grey">Chevage List</h3>
    <div class="card-body">
            <table class="table table-bordered" id="table" data-page-length="25">
                <thead>
                    <th>Case</th>
                    <th>Session</th>
                    <th>Assessment</th>
                    <th>Notes</th>
                    <th>Recessit</th>
                    <th>Crossed</th>
                    <th>H. Terram</th>
                    <th>Mortuus</th>
                    <th>Litigants</th>
                </thead>
                    {% for cases in list %}
                        {% with length=cases.capitagia.all|length %}
                            {% for capitagium in cases.capitagia.all %}
                <tbody>
                                {% if forloop.first %}
                                    <tr>
                                        <td rowspan="{{ length }}"><a href="{% url 'case:detail' capitagium.litigant.case.id %}">{{ capitagium.litigant.case.id }}</a></td>
                                        <td rowspan="{{ length }}"><a href="{% url 'session:detail' capitagium.litigant.case.session.id %}">{{ capitagium.litigant.case.session }}</a></td>
                                        <td>{{ capitagium.capitagium }}</td>
                                        <td>{{ capitagium.notes|linebreaksbr }}</td>
                                        <td class="text-center">{% if capitagium.recessit %} X {% endif %}</td>
                                        <td class="text-center">{% if capitagium.crossed %} X {% endif %}</td>
                                        <td class="text-center">{% if capitagium.habet_terram %} X {% endif %}</td>
                                        <td class="text-center">{% if capitagium.mortuus %} X {% endif %}</td>
                                        <td rowspan="{{ length }}" class="text-center">{{ capitagium.litigant.case.litigant_count }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{ capitagium.capitagium }}</td>
                                        <td>{{ capitagium.notes|linebreaksbr }}</td>
                                        <td class="text-center">{% if capitagium.recessit %} X {% endif %}</td>
                                        <td class="text-center">{% if capitagium.crossed %} X {% endif %}</td>
                                        <td class="text-center">{% if capitagium.habet_terram %} X {% endif %}</td>
                                        <td class="text-center">{% if capitagium.mortuus %} X {% endif %}</td>
                                    </tr>
                                {% endif %}
                </tbody>
                            {% endfor %}
                        {% endwith %}
                    {% endfor %}
            </table>

           {% if list.has_other_pages %}
            <nav aria-label="Case list navigation">
                <ul class="pagination">
                    {% if list.has_previous %}
                        <li class="page-item" name="test"><a class="page-link" data-url="{% url 'person:capitagium' person.id %}?page={{ list.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled" name="test"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                {% for i in list.paginator.page_range %}
                    {% if list.number == i %}
                        <li class="page-item active" name="test"><span class="page-link">{{ i }}</span><span class="sr-only">(current)</span></li>
                    {% else %}
                        <li class="page-item" name="test"><a class="page-link" data-url="{% url 'person:capitagium' person.id %}?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if list.has_next %}
                    <li class="page-item" name="test"><a class="page-link" data-url="{% url 'person:capitagium' person.id %}?page={{ list.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled" name="test"><span class="page-link">&raquo;</span></li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>
</div>

<script>
    $('.page-link').click(function(){
            var url = $(this).attr('data-url');
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function(data){
                    $('#list_info').html(data.html_list);
                }
            })
        });
</script>