<div class="card">
    <h3 class="card-header text-center bg-grey">Case List</h3>
    <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <th>Details</th>
                    <th>Case</th>
                    <th>Session</th>
                    <th>Court</th>
                    <th>Case Type</th>
                    <th>Role</th>
                    <th>Verdict</th>
                    <th>Litigants</th>
                </thead>
                <tbody>
                    {% for cases in list %}
                        {% with length=cases.case.litigants.all|length %}<tr>
                            <td data-toggle="collapse" data-target=".case_{{ cases.case.id }}_summary" class="details-control"><i class="fas fa-plus-square"></i></td>
                            <td><a href="{% url 'case:detail' cases.case.id %}">{{ cases.case.id }}</a></td>
                            <td><a href="{% url 'session:detail' cases.case.session.id %}">{{ cases.case.session }}</a></td>
                            <td>{{ cases.case.case_type.case_type }}</td>
                            <td>{{ cases.case.get_court_type_display }}</td>
                            <td>{{ cases.role.role }}</td>
                            <td>{{ cases.case.verdict.verdict }}</td>
                            <td class="text-center">{{ cases.case.litigant_count }}</td>
                        </tr>
                        {% for litigant in cases.case.litigants.all %}
                            {% if forloop.first %}
                            <tr>
                                <th colspan="3" class="hiddenRow"><div class="hiddenRow collapse case_{{ litigant.case.id }}_summary">Notes<hr></div></th>
                                <th colspan="2" class="hiddenRow"><div class="hiddenRow collapse case_{{ litigant.case.id }}_summary">Litigant<hr></div></th>
                                <th colspan="3" class="hiddenRow"><div class="hiddenRow collapse case_{{ litigant.case.id }}_summary">Role<hr></div></th>
                            </tr>
                            <tr>
                                <td rowspan="{{ length }}" colspan="3" class="hiddenRow"><div class="hiddenRow collapse case_{{ litigant.case.id }}_summary">{{ litigant.case.summary|wordwrap:55|linebreaksbr }}</div></td>
                                <td colspan="2" class="hiddenRow"><div class="hiddenRow collapse case_{{ litigant.case.id }}_summary"><a href="{% url 'person:detail' litigant.person.id %}">{{ litigant.person.full_name }}</a><hr></div></td>
                                <td colspan="3" class="hiddenRow"><div class="hiddenRow collapse case_{{ litigant.case.id }}_summary">{{ litigant.role.role }}<hr></div></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="2" class="hiddenRow"><div class="hiddenRow collapse case_{{ litigant.case.id }}_summary"><a href="{% url 'person:detail' litigant.person.id %}">{{ litigant.person.full_name }}</a><hr></div></td>
                                <td colspan="3" class="hiddenRow"><div class="hiddenRow collapse case_{{ litigant.case.id }}_summary">{{ litigant.role.role }}<hr></div></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>

        {% if list.has_other_pages %}
            <nav aria-label="Case list navigation">
                <ul class="pagination">
                    {% if list.has_previous %}
                        <li class="page-item"><a class="page-link" data-url="{% url 'person:cases' person.id %}?page={{ list.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                {% for i in list.paginator.page_range %}
                    {% if list.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}</span><span class="sr-only">(current)</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" data-url="{% url 'person:cases' person.id %}?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if list.has_next %}
                    <li class="page-item"><a class="page-link" data-url="{% url 'person:cases' person.id %}?page={{ list.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>
</div>

<!-- used to navigate pagination -->
<script>
    $('.page-link').click(function(){
            var url = $(this).attr('data-url');
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function(data){
                    $('#list_info').html(data.html_list);
                }
            })
        });
</script>
