<div class="card">

    <h3 class="card-header text-center">Land History</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Info</th>
                    <th>Land ID</th>
                    <th>Parcels</th>
                    <th>Session</th>
                    <th>Case</th>
                    <th>Role</th>
                    <th>Villeinage?</th>
                    <th>Village</th>
                    <th>Notes</th>
                </thead>
                <tbody>
                        {% for case in list %}
                            {% for land in case.lands.all %}
                    <tr>
                                <td></td>
                                <td><a href="{% url 'land:detail' land.id %}">{{ land.id }}</a></td>
                                <td>{{ land.land.parcel_list }}</td>
                                <td>{{ land.litigants.case }}</td>
                                <td>{{ land.litigants.role.role }}</td>
                                <td>{{ land.villeinage }}</td>
                                <td>{{ land.notes|linebreaks }}</td>
                    </tr>
                            {% endfor %}
                        {% endfor %}
                </tbody>
            </table>
    </div>

</div>
