{% extends 'layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Damages List</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th></th>
                    <th>ID</th>
                    <th>Damages</th>
                    <th>Damage Notes</th>
                    <th>Term</th>
                    <th>Year</th>
                    <th>Court</th>
                    <th>Case Type</th>
                    <th>Role</th>
                    <th>Verdict</th>
                    <th>Litigant Count</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>
    // provides format for nested table that displays when + sign is clicked.
    function format( data ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Summary:</b></td>" +
            "<td>"+data.case.summary+"</td>" +
            "</tr>" +
            "<tr>" +
            "<td><b>Litigant List:</b></td>" +
            "<td>" + list_litigants(data.case.litigant_list) + "</td>" +
            "</tr>" +
        "</table>"
    }

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1]
        console.log(id)
        var api_url = Urls.litigants_api() + "?person=" + id + "&damage=true&expand=damage&expand=role&expand=case__verdict&expand=case__case_type&expand=case__session__village";
        console.log(api_url);
        var table = $("#table").DataTable({
            fixedHeader: true,
            scrollX: true,
            order: [5, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                    "render": function(){
                        return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                    },
                    width:"15px"
                },
                {data: "case.id",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        $(nTd).html("<a href='" + Urls.case(rowData.case.id) + "'target='_blank'>" + rowData.case.id + "</a>");
                    }
                },
                {data: "damage.amount",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                    $(nTd).html(rowData.damage.amount + " (" + rowData.damage.in_denarius + "d.)")
                    }
                },
                {data: "damage_notes"},
                {data: "case.session.law_term"},
                {data: "case.session.year"},
                {data: "case.court_type"},
                {data: "case.case_type.case_type"},
                {data: "role.role"},
                {data: "case.verdict.verdict"},
                {data: "case.litigant_count"}
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });

    function list_litigants(data){
        var concat = '';
        data.forEach(function (obj, index) {
            concat = concat + '<div class="d-flex justify-content-end"><div class="mr-auto p-0"><u>Name:</u> ' + obj.name + '</div> <div class="p-0"><u>Role:</u> ' + obj.role + '</div></div><hr>';
            return concat;
            });
        return concat;

    };



</script>


{% endblock %}