{% extends "layout/__base.html" %}

{% block navbar %}
    {% include 'layout/__navbar.html' %}
{% endblock %}

{% block content %}

<br>
<div class="container">
    <hr>
        <h2 class="text-center">People List</h2>
    <hr>
</div>

<div class="container">
    <table class="table table-bordered table-hover" id="person_list" data-page-length="25">
        <thead>
            <th>Name</th>
            <th>Village</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Litigation</th>
            <th>Total Cases</th>
            <th>1332 Tax</th>
            <th>1379 Tax</th>
        </thead>
    </table>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $(document).ready(function(){
        var table = $('#person_list').DataTable({
            fixedHeader: {
                headerOffset: 50
            },
            scrollX: true,
            ajax: {
                processing: true,
                url: "/api/people/?expand=village",
                type: "GET",
                dataSrc: "",
            },
            "columns": [
                {data: "full_name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        $(nTd).html("<a href='" + Urls.person(rowData.id) + "' target='_blank'>" + rowData.full_name + "</a>");
                    }
                },
                {data: "village.name"},
                {data: "gender"},
                {data: "status"},
                {data: "case_count_litigation"},
                {data: "case_count_all"},
                {data: "tax_1332"},
                {data: "tax_1379"},
            ],

        });


        // can be used to change visibility of a column based on a checkbox.
        $('#1332').change(function(){
            table.column(6).visible($(this).is(':checked'))
        });

        $('#1379').change(function(){
            table.column(7).visible($(this).is(':checked'))
        });

    });



</script>
{% endblock %}