{% extends '_layout/_l_single_col.html' %}
{% block single_col %}

    <h3 class="card-header text-center">Land History</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="table" data-page-length="25">
                <thead>
                    <th>Info</th>
                    <th>Land ID</th>
                    <th>Parcels</th>
                    <th>Session</th>
                    <th>Case</th>
                    <th>Role</th>
                    <th>Villeinage?</th>
                    <th>Village</th>
                    <th>Notes</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}

{{ block.super }}

<script>
    // provides format for nested table that displays when + sign is clicked.
    function format( d ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Case ID</b></td>" +
            "<td><b>Village</b></td>" +
            "<td><b>Session</b></td>" +
            "<td><b>Court Type</b></td>" +
            "<td><b>Case Type</b></td>" +
            "<td><b>Verdict</b></td>" +
            "<tr>" +
            "<td><a href='" + Urls['case:detail'](d.case.id) + "'target='_blank'>" + d.case.id + "</a></td>" +
            "<td>" + d.case.session.village.name + "</td>" +
            "<td>" + d.case.session.law_term + ", " + d.case.session.year +"</td>" +
            "<td>" + d.case.court_type + "</td>" +
            "<td>" + d.case.case_type.case_type +"</td>" +
            "<td>" + d.case.verdict.verdict + "</td>" +
            "</tr>" +
            "<td><b>Summary</b></td>" +
            "<td colspan='6'>" + d.case.summary + "</td>" +
            "</tr>"
    }

    $(document).ready(function(){
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls["api:person-detail"](id);
        var url = url + "?include[]=cases.land&&include[]=cases.case.session.village&filter{cases|land.isnull}=false";
        var table = $('#table').DataTable({
            scrollX: true,
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "person.cases.",
            },
            "order": [[3, "asc"]],
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": null,
                    "defaultContent": "case",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "land",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        $(nTd).html("<a href='" + Urls['land:detail'](cellData.id) + "'target='_blank'>" + cellData.id + "</a>");
                    }
                },
                {data: "land.parcel_list",
                    defaultContent: '',
                    render: {
                        display: list_parcels,
                    }
                },
                {data: "case.session",
                    defaultContent: '',
                    render: {
                        display: formatSessionDate,
                        sort: "date"
                    }
                },
                {data: "case",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, meta){
                            if (data){
                                url = Urls['case:detail'](data.id);
                                return "<a href='" + url + "'>" + data.id + "</a>";
                            }
                        },
                        sort: "session.date",
                    }
                },
                {data: "role.role"},
                {data: "land_villeinage",
                    defaultContent: '',
                    render:{
                        display: checkMaker,
                    }
                },
                {data: "case.session.village.name"},
                {data: "land_notes"},
            ]
        });


        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });



</script>
{% endblock %}