<div class="card">

        <h3 class="card-header text-center">Pledges Given</h3>
        <div class="card-body">
            <table class="table table-bordered table-hover" id="pledges_given_list" data-page-length="25">
                <thead>
                    <th></th>
                    <th>Receiver</th>
                    <th>Status</th>
                    <th>Gender</th>
                    <th>Case</th>
                    <th>Session</th>
                    <th>Court</th>
                    <th>Case Type</th>
                    <th>Verdict</th>
                    <th>Litigants</th>
                </thead>
                <tbody>
                    {% for pledge in list %}
                        {% if pledge.receiver.person.id != person.id %}
                        <tr>
                            <td></td>
                            <td>{{ pledge.receiver.person.full_name }}</td>
                            <td>{{ pledge.receiver.person.get_status_display }}</td>
                            <td>{{ pledge.receiver.case.id }}</td>
                            <td>{{ pledge.receiver.case.session.date }}</td>
                            <td>{{ pledge.receiver.case.court_type }}</td>
                            <td>{{ pledge.receiver.case.case_type.case_type }}</td>
                            <td>{{ pledge.receiver.case.verdict.verdict }}</td>
                            <td>{{ pledge.receiver.case.litigant_count }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

        <br>
        </div>

        <h3 class="card-header text-center">Pledges Received</h3>
            <div class="card-body">
            <table class="table table-bordered table-hover" id="pledges_received_list" data-page-length="25">
                <thead>
                    <th></th>
                    <th>Grantor</th>
                    <th>Status</th>
                    <th>Gender</th>
                    <th>Case</th>
                    <th>Session</th>
                    <th>Court</th>
                    <th>Case Type</th>
                    <th>Verdict</th>
                    <th>Litigants</th>
                </thead>
            </table>
        </div>

</div>

