<h3 class="card-header text-center bg-grey">Pledges Received</h3>
<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <th>Grantor</th>
            <th>Status</th>
            <th>Gender</th>
            <th>Case</th>
            <th>Session</th>
            <th>Court</th>
            <th>Case Type</th>
            <th>Verdict</th>
            <th>Litigants</th>
        </thead>
        <tbody>
            {% for pledge in list %}
                <tr>
                    <td><a href="{% url 'person:detail' pledge.giver.id %}">{{ pledge.giver.full_name }}</a></td>
                    <td>{{ pledge.giver.get_status_display }}</td>
                    <td>{{ pledge.giver.get_gender_display }}</td>
                    <td><a href="{% url 'case:detail' pledge.receiver.case.id %}">{{ pledge.receiver.case.id }}</a></td>
                    <td><a href="{% url 'session:detail' pledge.receiver.case.session.id %}">{{ pledge.receiver.case.session.date }}</a></td>
                    <td>{{ pledge.receiver.case.get_court_type_display }}</td>
                    <td>{{ pledge.receiver.case.case_type.case_type }}</td>
                    <td>{{ pledge.receiver.case.verdict.verdict }}</td>
                    <td>{{ pledge.receiver.case.litigant_count }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="9" class="text-center">None</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% if list.has_other_pages %}
    <nav aria-label="list navigation">
        <ul class="pagination">
            {% if list.has_previous %}
                <li class="page-item"><a class="page-link received" data-url="{% url 'person:pledges_received' person.id %}?page={{ list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled" ><span class="page-link received">&laquo;</span></li>
            {% endif %}
        {% for i in list.paginator.page_range %}
            {% if list.number == i %}
                <li class="page-item active"><span class="page-link received">{{ i }}</span><span class="sr-only">(current)</span></li>
            {% else %}
                <li class="page-item"><a class="page-link received" data-url="{% url 'person:pledges_received' person.id %}?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if list.has_next %}
            <li class="page-item"><a class="page-link received" data-url="{% url 'person:pledges_received' person.id %}?page={{ list.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled" ><span class="page-link received">&raquo;</span></li>
        {% endif %}
        </ul>
    </nav>
{% endif %}
</div>

<script>
        $('.received').click(function(){
            var url = $(this).attr('data-url');
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function(data){
                    $('#pledges_received').html(data.html_list);
                }
            })
        });
</script>
