<div class="card">
    <h3 class="card-header text-center bg-grey">Positions</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="position_table" data-ajax="{% url 'api:position-list' %}?person={{ person.id }}&expand=session&format=datatables" data-table-length="10">
                <thead>
                    <th>Title</th>
                    <th>Session</th>
                    <th>Definitive</th>
                </thead>

    </div>

</div>

<script>
    var position_table = $('#position_table').DataTable({
        serverSide: true,
        order: [[1, 'asc']],
        columns: [
            {data: 'title.title',
                name: 'title.title'
            },
            {data: 'session',
                name: 'session.date',
                render: {
                   display: function(data, type, row){
                        if (data){
                            var url = Urls['session:detail'](data.id);
                            return "<a href='" + url + "'>" + data.law_term + ', ' + data.human_date + "</a>";
                        } else {
                            return "N/A";
                        }
                    }
                }
            },
            {data: 'definitive',
                searchable: false,
                orderable: false,
                render: {
                    display: function(data){
                        if (data){
                            return "Yes"
                        } else {
                            return "No"
                        }
                    }
                }
            },
        ]
    });
</script>