{% extends '_layout/_l_single_col.html' %}
{% block single_col %}

    <h3 class="card-header text-center">Positions</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="person_position_list" data-page-length="25">
                <thead>
                    <th>Title</th>
                    <th>Session</th>
                    <th>Definitive</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>
    // provides format for nested table that displays when + sign is clicked.

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls["api:person-detail"](id);
        var api_url = url + "?include[]=positions.session";
        var position_table = $("#person_position_list").DataTable({
            fixedHeader:{ headerOffset: 50 },
            order: [2, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "person.positions.",
            },
            "columns": [
                {data: "title.title"},
                {data: "session",
                    defaultContent: '',
                    render: {
                        display: formatSessionDateNoVillage,
                        sort: "date"
                    }
                },
                {data: "definitive",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    }
                }
            ]
        })
    });

</script>


{% endblock %}