<div class="card" id="relationship_list">
    <div class="card-header text-center bg-grey">
        <div class="d-flex justify-content-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3 class="text-center">Relationships</h3>
            </div>
            <div class="col-md-4">
            {% if perms.peasantlegaldb.change_person %}
                <button class="btn btn-success float-right" id="add_relationship" data-url="{% url 'person:add_relationship' view.kwargs.pk %}">Add Relationship</button>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="relationship_table" data-ajax="{% url 'api:relationship-list' %}?relations={{ pk }}&expand=person_one,person_two&format=datatables&keep=person_one,person_two" data-table-length="10">
                <thead>
                    <th>Relation</th>
                    <th>Relationship</th>
                    <th>Confidence</th>
                    {% if perms.peasantlegaldb.change_person %}
                    <th>Edit</th>
                    {% endif %}
                </thead>
    </div>
</div>
<div class="modal fade" id="modal_relationship">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    var url = window.location.pathname;
    var person = url.split('/').reverse()[1];

    {% if perms.peasantlegaldb.change_relationship %}
        var relationship_table = $('#relationship_table').DataTable({
            serverSide: true,
            columns: [
                {data: 'person_one',
                    defaultContent: '',
                    name: 'person_one.first_name, person_one.relation_name, person_one.last_name, person_two.first_name, person_two.relation_name, person_two.last_name',
                    orderable: false,
                    render: {
                        display: function (data, type, row) {
                            if (row.person_one.id == person) {
                                var url = Urls['person:detail'](row.person_two.id);
                                return "<a href='" + url + "'>" + row.person_two.full_name + "</a>";
                            } else {
                                var url = Urls['person:detail'](row.person_one.id);
                                return "<a href='" + url + "'>" + row.person_one.full_name + "</a>";
                            }
                        },
                    },
                },
                {data: 'relationship.relation',
                    name: 'relationship.relation',
                },
                {data: 'confidence',
                    defaultContent: false,
                    searchable: false,
                },
                {data: null,
                    render:{
                        display: function(data, type, row){
                            var url = Urls['relationship:edit'](row.id);
                            return "<a href='#' class='edit_relationship' data-url='" + url + "'>edit</a>";
                        }
                    }
                }
            ]
        });

    {% else %}

        var relationship_table = $('#relationship_table').DataTable({
            serverSide: true,
            columns: [
                {data: 'person_one',
                    defaultContent: '',
                    name: 'person_one.first_name, person_one.relation_name, person_one.last_name, person_two.first_name, person_two.relation_name, person_two.last_name',
                    orderable: false,
                    render: {
                        display: function (data, type, row) {
                            if (row.person_one.id == person) {
                                var url = Urls['person:detail'](row.person_two.id);
                                return "<a href='" + url + "'>" + row.person_two.full_name + "</a>";
                            } else {
                                var url = Urls['person:detail'](row.person_one.id);
                                return "<a href='" + url + "'>" + row.person_one.full_name + "</a>";
                            }
                        },
                    },
                },
                {data: 'relationship.relation',
                    name: 'relationship.relation',
                },
                {data: 'confidence',
                    defaultContent: false,
                    searchable: false,
                },
            ]
        });
    {% endif %}


    var loadForm = function(){
        event.preventDefault();
        var url = $(this).attr('data-url');
        $.ajax({
            url: url,
            type: 'get',
            dataType: 'json',
            success: function(data){
                $('#modal_relationship .modal-content').html(data.html_form);
            },
            complete: function(){
                $('#modal_relationship').modal('show');
            }
        })
    };

    var saveForm = function(){
        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            data: form.serialize(),
            type: form.attr('method'),
            dataType: 'json',
            success: function(data){
                if(data.form_is_valid){
                    $('#modal_relationship').modal('hide');
                    relationship_table.ajax.reload();
                } else {
                    $('#modal_relationship .modal-content').html(data.html_form);
                }
            }
        });
    return false
    };

    $('#add_relationship').click(loadForm);
    $('#modal_relationship').on('submit', '.add_relationship_form', saveForm);

    $('#relationship_table').on('click', '.edit_relationship', loadForm);
    $('#modal_relationship').on('submit', '.edit_relationship_form', saveForm);

</script>