{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
    <h3 class="card-header text-center">Relationships</h3>
    <div class="card-body">
            <table class="table table-bordered table-hover" id="person_relationship_list" data-page-length="25">
                <thead>
                    <th>Person One</th>
                    <th>Person Two</th>
                    <th>Relationship</th>
                    <th>Definitive</th>
                </thead>
            </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

<script>
    // provides format for nested table that displays when + sign is clicked.

    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls["api:relationship-list"]();
        var api_url = url + "?relations=" + id + "&include[]=person_one.village&include[]=person_two.village";
        var relationship_table = $("#person_relationship_list").DataTable({
            fixedHeader:{ headerOffset: 50 },
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "relationships.",
            },
            "columns": [
                {data: "person_one.full_name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        $(nTd).html("<a href='" + Urls['person:detail'](rowData.person_one.id) + "'target='_blank'>" + rowData.person_one.full_name + " (" + rowData.person_one.village.name + ")</a>");
                    }
                },
                {data: "person_two.full_name",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        $(nTd).html("<a href='" + Urls['person:detail'](rowData.person_two.id) + "'target='_blank'>" + rowData.person_two.full_name + " (" + rowData.person_two.village.name + ")</a>");
                    }
                },
                {data: "relationship.relation"},
                {data: "definitive",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    },
                }
            ]
        })
    });

</script>


{% endblock %}