{% extends '_layout/_l_three_col.html' %}

{% block left_sidebar %}
    <div class="list-group" id="selection_list" role="tablist">
        <a class="list-group-item list-group-item-action active" href="#tenant_list" data-url="{% url 'land:tenants' land.id %}" role="tab" data-toggle="list">Tenant History</a>
        <a class="list-group-item list-group-item-action" href="#case_list" data-url="{% url 'land:cases' land.id %}" role="tab" data-toggle="list">Case History</a>
        <a class="list-group-item list-group-item-action" href="#split_list" data-url="{% url 'land:split_history' land.id %}" >Land Split History</a>
    </div>
{% endblock %}

{% block center_bar %}
<div class="card-header text-center">
    <h2 class="card-title">Land ID: {{ land.id }}</h2>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">

        <div class="card p-0 col-5">
            <h4 class="card-header">Parcels:</h4>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for x in land.parcels.all %}
                            <li class="list-group-item">{{ x.amount }} {{ x.parcel_type.parcel_type }} held by {{ x.parcel_tenure.tenure }}</li>
                        {% endfor %}
                    </ul>
                </div>
        </div>

        <div class="card p-0 col-6">
             <h4 class="card-header">Notes:</h4>
                <div class="card-body">

                    <h6 class="card-text">
                        {{ land.notes | linebreaksbr }}
                </h6>
            </div>
        </div>

    </div>
</div>

<br>

<div class="tab-content" id="list_info">
    <div class="tab-pane show active fade" id="tenant_list" role="tabpanel">{% include 'land/tenant_history.html' %}</div>
    <div class="tab-pane fade" id="case_list" role="tabpanel"></div>
    <div class="tab-pane fade" id="split_list" role="tabpanel"></div>
</div>


{% endblock %}

{% block right_sidebar %}

    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_land %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="#">Add Land</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.change_land %}
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="#">Edit Land</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.delete_land %}
            <div class="btn-group" role="group">
                <a class="btn btn-danger" href="#">Delete Land</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

    {{ block.super }}

<script>

    $(document).ready(function(){
        $("#selection_list").on('click', 'a', function(e){
           e.preventDefault();
           var url = $(this).attr("data-url");

           if (typeof url !== "undefined"){
               var pane = $(this), href = this.hash;

               $(href).load(url, function(result){
                   pane.tab('show');
               });
           } else {
               $(this).tab('show');
           }
        });

        $('a[data-toggle="tab"').on('shown.bs.tab', function(e){
            $.fn.dataTable.tables({visible: true, api: true}).columns.adjust().responsive.recalc();
        });
    });

</script>

{% endblock %}