{% extends '_layout/_l_three_col.html' %}

{% block left_sidebar%}
    <div id="selection_list">
        <a class="list-group-item active" href="{% url 'tenant_history' land.id %}">Tenant History</a>
        <a class="list-group-item" href="{% url 'land:cases' land.id %}" >Case History</a>
        <a class="list-group-item" href="{% url 'land:split_history' land.id %}" >Land Split History</a>
    </div>
{% endblock %}

{% block center_bar %}
<div class="card-header text-center">
    <h2 class="card-title">Land ID: {{ land.id }}</h2>
</div>

<div class="card-body clearfix" id="main_info">
    <div class="d-flex justify-content-between flex-wrap">

        <div class="card p-0 col-5">
            <h4 class="card-header">Parcels:</h4>
                <div class="card-body">
                    <table class="table table-sm">
                        {% for x in land.parcels.all %}
                            <tr class="row m-0">
                                <td class="d-inline-block col-4"><b>Parcel:</b></td>
                                <td class="d-inline-block col-8">{{ x.amount }} {{ x.parcel_type.parcel_type }} held by {{ x.parcel_tenure.tenure }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
        </div>

        <div class="card p-0 col-6">
             <h4 class="card-header">Notes:</h4>
                <div class="card-body">

                    <h6 class="card-text">
                        {{ land.notes | linebreaksbr }}
                </h6>
            </div>
        </div>

    </div>
</div>

<br>

<div id="list_info">

</div>


{% endblock %}

{% block right_sidebar %}

    <div class="container" style="position: sticky; top: 65px">
        {% if perms.peasantlegaldb.add_land %}
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="#">Add Land</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.change_land %}
            <div class="btn-group" role="group">
                <a class="btn btn-warning" href="#">Edit Land</a>
            </div>
            <br>
            <br>
        {% endif %}
        {% if perms.peasantlegaldb.delete_land %}
            <div class="btn-group" role="group">
                <a class="btn btn-danger" href="#">Delete Land</a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    $(document).ready(function(){
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        $("#list_info").load(Urls['land:tenants'](id))
    })
</script>

{% endblock %}