{% extends '_layout/_l_two_col.html' %}

{% block navbar %}
    {% include '_layout/__navbar.html' %}
{% endblock %}

{% block center_bar %}

    {{ block.super }}

<div class="card-body clearfix" id="main_info">
    <table class="table table-bordered table-hover" id="table" data-page-length="25">
        <thead>
            <th>Tenant History</th>
            <th>Land ID</th>
            <th>Parcels</th>
            <th>Notes</th>
            <th>Earliest Case</th>
            <th>Latest Case</th>
        </thead>
    </table>
</div>

{% endblock %}

{% block right_sidebar %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
<script>

    function format( d ) {
        return "<table class='table'>" +
            "<thead>" +
            "<th>Person:</th>" +
            "<th>Residency:</th>" +
            "<th>Case:</th>" +
            "<th>Role:</th>" +
            "<th>Law Term:</th>" +
            "<th>Year:" +
            "</thead>" +
            tenant_history(d)
    }

    $(document).ready(function () {
        var api_url = "/api/lands/?include[]=tenant_history.person.village&include[]=tenant_history.case.session&include[]=case_dates";
        var table = $("#table").DataTable({
            fixedHeader:{ headerOffset: 50 },
            scrollX: true,
            order: [1, "asc"],
            ajax: {
                url: api_url,
                type: "GET",
                dataSrc: "lands.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "tenant_history",
                    "defaultContent": "",
                    "render": checkNotes,
                    width:"15px"
                },
                {data: "id",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col) {
                        url = Urls.land(rowData.id);
                        $(nTd).html("<a href='"+ url +"'>" + rowData.id + "</a>");
                    }
                },
                {data: "parcel_list",
                    defaultContent: '',
                    render: {
                        display: list_parcels,
                    }
                },
                {data: "notes"},
                {data: "case_dates.earliest",
                    defaultContent: '',
                    render: {
                        display: formatCaseDate,
                        sort: "date"
                    }
                },
                {data: "case_dates.latest",
                    defaultContent: '',
                    render: {
                        display: formatCaseDate,
                        sort: "date"
                    }
                }
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });

    function tenant_history(data){
        var concat = '';
        data.tenant_history.forEach(function(litigant){
            concat = concat + "<tr>" +
                "<td><a href='" + Urls.person(litigant.person.id) + "'>" + litigant.person.full_name + "</a></td>" +
                "<td><a href='" + Urls.village(litigant.person.village.id) + "'>" + litigant.person.village.name + "</a></td>" +
                "<td><a href='" + Urls.case(litigant.case.id) + "'>" + litigant.case.id + "</a></td>" +
                "<td>" + litigant.role.role + "</td>" +
                "<td>" + litigant.case.session.law_term + "</td>" +
                "<td>" + litigant.case.session.year + "</td>" +
                "</tr>";
            return concat
        });
        return concat
    }

</script>


{% endblock %}