{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
<div class="card">
    <h3 class="card-header text-center">Parcel Split History</h3>

    <div class="card">
        <table class="table table-bordered table-hover" id="table" data-page-length="25">
            <thead>
                <th>Old Land ID</th>
                <th>Old Land Parcels</th>
                <th>Old Land Notes</th>
                <th>New Land ID</th>
                <th>New Land Parcels</th>
                <th>New Land Notes</th>
            </thead>
        </table>
    </div>

</div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>


    $(document).ready(function() {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls['api:land-split-list']();
        var url = url + "?land=" + id + "&include[]=old_land&include[]=new_land";
        var table = $('#table').DataTable({
            scrollX: true,
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "land_splits.",
            },
            "columns": [
                {data: "old_land",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, col){
                            url = Urls['land:detail'](data.id);
                            return "<a href='"+ url +"'>" + data.id+ "</a>";
                        },
                        sort: "id"
                    }
                },
                {data: "old_land.parcel_list",
                    defaultContent: '',
                    render: {
                        display: list_parcels,
                    }
                },
                {data: "old_land.notes"},
                {data: "new_land",
                    defaultContent: '',
                    render: {
                        display: function(data, type, row, col){
                            url = Urls['land:detail'](data.id);
                            return "<a href='"+ url +"'>" + data.id+ "</a>";
                        },
                        sort: "id"
                    }
                },
                {data: "new_land.parcel_list",
                    defaultContent: '',
                    render: {
                        display: list_parcels,
                    }
                },
                {data: "new_land.notes"},

            ]
        });

        $('#table tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });
</script>

{% endblock %}