{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
<div class="card">
    <h3 class="card-header text-center">Case History</h3>

    <div class="card">
        <table class="table table-bordered table-hover" id="table" data-page-length="25">
            <thead>
                <th></th>
                <th>Case</th>
                <th>Village</th>
                <th>Session</th>
                <th>Court</th>
                <th>Case Type</th>
                <th>Verdict</th>
                <th>Litigants</th>
            </thead>
        </table>
    </div>

</div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>

    function format( data ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Litigant List:</b></td>" +
            "<td>" + list_litigants(data.litigant_list) + "</td>" +
            "</tr>" +
            "<tr>" +
            "<td><b>Summary:</b></td>" +
            "<td>"+data.summary+"</td>" +
            "</tr>" +
        "</table>"
    }

    $(document).ready(function() {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls['api:case-list']();
        var url = url + "?land=" + id + "&include[]=session.village&include[]=litigant_list&include[]=litigant_count";
        var table = $('#table').DataTable({
            scrollX: true,
            order: [4, "asc"],
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "cases.",
            },
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": "litigant_list",
                    "defaultContent": "",
                    "render": checkNotes,
                    width: "15px"
                },
                {
                    data: "id",
                    fnCreatedCell: function (nTd, cellData, rowData, row, col) {
                        var url = Urls['case:detail'](rowData.id)
                        $(nTd).html("<a href='" + url + "'>" + rowData.id + "</a>");
                    }
                },
                {data: "session.village.name"},
                {data: "session",
                    defaultContent: '',
                    render: {
                        display: formatSessionDateNoVillage,
                        sort: "date"
                    }
                },
                {data: "court_type"},
                {data: "case_type.case_type"},
                {data: "verdict.verdict"},
                {data: "litigant_count"},
            ]
        });

        $('#table tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else {
                row.child(format(row.data())).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });

</script>

{% endblock %}