<table class="table table-bordered table-hover" id="tenant_table" data-ajax="{% url 'api:landtocase-list' %}?land={{ view.kwargs.pk }}&expand=litigant&format=datatables" data-page-length="10">
    <thead>
        <th></th>
        <th>Name</th>
        <th>Role</th>
        <th>Villeinage?</th>
        <th>Session</th>
        <th>Case</th>
    </thead>
</table>

<script>

    var format_notes = function format( data ) {
        return "<table class='table'>" +
            "<tr>" +
            "<td>Notes</td>" +
            "<td>" + data.litigant.case.summary + "</td>" +
            "</tr>" +
        "</table>"
    }

    var tenant_table = $('#tenant_table').DataTable({

        serverSide: true,
        order: [[4, "asc"]],
        columns: [
            {
                class: "details-control",
                orderable: "false",
                data: 'litigant.case.summary',
                defaultContent: "",
                render: checkNotes,
                width: "15px"
            },
            {data: "litigant.person.full_name",
                render: {
                    display: function (data, type, row) {
                        url = Urls['person:detail'](row.litigant.person.id);
                        return "<a href='" + url + "'>" + data + " (" + row.litigant.person.village.name + ")</a>";
                    },
                }
            },
            {data: 'role.role'},
            {data: 'litigant.case.villeinage_mention',
                render: {
                    display: checkMaker,
                },
                width: '15px',
            },
            {data: 'litigant.case.session.date',
                render: {
                    display: function(data, type, row){
                        var url = Urls['session:detail'](row.litigant.case.session.id);
                        return "<a href='" + url + "'>" + row.litigant.case.session.law_term + ", " + row.litigant.case.session.year + "</a>";
                    }
                }
            },
            {data: 'litigant.case.id',
                render: {
                    display: function(data, type, row){
                        var url = Urls['case:detail'](data);
                        return "<a href='" + url + "'>" + data + "</a>";
                    }
                }
            },
        ]
    });

    $('#tenant_table').on('click', 'td.details-control', function(){
        var tr = $(this).closest('tr');
        var tdi = tr.find('#check');
        var row = tenant_table.row( tr );
        if (tdi.prop('style').color !== 'gray'){
            if ( row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else {
                row.child( format_notes( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        }
    });

</script>