{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
<div class="card">
    <h3 class="card-header text-center">Tenant History</h3>

    <div class="card">
        <table class="table table-bordered table-hover" id="tenant_history" data-page-length="25">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Village</th>
                <th>Case</th>
                <th>Session</th>
                <th>Role</th>
                <th>Villeinage?</th>
                <th>Fine</th>
                <th>Heriot</th>
                <th>Notes</th>
            </thead>
        </table>
    </div>

</div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>

        function format( data ){
        return format_person_subdata(data)
    }

    $(document).ready(function() {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        url = Urls['api:litigan-list']();
        var url = url + "?include[]=land&filter{land.id}=" + id + "&include[]=person.village&include[]=case.session&include[]=person.counts&include[]=person.case_dates";
        var table = $('#tenant_history').DataTable({
            scrollX: true,
            hideEmptyCols: true,
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "litigants.",
            },
            order: [[4, "asc"]],
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": null,
                    "defaultContent": "",
                    "render": function () {
                        return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                    },
                    width: "15px"
                },
                {data: "person",
                    render: {
                        display: function (data, type, row, col) {
                            url = Urls.person(data.id);
                            return "<a href='" + url + "'>" + data.full_name + "</a>";
                        },
                        sort: "full_name",
                    }
                },
                {data: "person.village.name"},
                {data: "case",
                    render: {
                        display: function(data, type, row, col) {
                            url = Urls.case(data.id);
                            return "<a href='" + url + "'>" + data.id + "</a>";
                        },
                        sort: "session.date"
                    }
                },
                {data: "case.session",
                    defaultContent: '',
                    render: {
                        display: formatSessionDateNoVillage,
                        sort: "date"
                    }
                },
                {data: "role.role"},
                {data: "land_villeinage",
                    defaultContent: '',
                    render: {
                        display: checkMaker,
                    }
                },
                {data: "fine",
                    defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "heriot",
		            defaultContent: '',
                    render: {
                        display: formatMoney,
                        sort: 'in_denarius'
                    },
                },
                {data: "land_notes"},
            ]
        });

        $('#tenant_history tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });
</script>

{% endblock %}