{% extends '_layout/_l_single_col.html' %}

{% block single_col %}
<div class="card">
    <h3 class="card-header text-center">Tenant History</h3>

    <div class="card">
        <table class="table table-bordered table-hover" id="tenant_history" data-page-length="25">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Village</th>
                <th>Case</th>
                <th>Session</th>
                <th>Role</th>
                <th>Villeinage?</th>
                <th>Fine</th>
                <th>Heriot</th>
                <th>Notes</th>
            </thead>
        </table>
    </div>

</div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>

        function format( d ){
        return "<table class='table'>" +
            "<tr>" +
            "<td><b>Village:</b></td>" +
            "<td>" + d.person.village.name + "</td>" +
            "<td><b>Gender:</b></td>" +
            "<td>" + d.person.gender_display + "</td>" +
            "<td><b>Status:</b></td>" +
            "<td>" + d.person.status_display + "</td>" +
            "</tr>" +
            "<tr>" +
            "<td><b>Litigation Count:</b></td>" +
            "<td>" + d.person.counts.litigation + "</td>" +
            "<td><b>Total Case Count:</b></td>" +
            "<td>" + d.person.case_count_all + "</td>" +
            "<td><b>Earliest Case:</b></td>" +
            "<td>" + d.person.case_dates.earliest_case.law_term + ", " + d.person.case_dates.earliest_case.year + "</td>" +
            "<td><b>Latest Case:</b></td>" +
            "<td>" + d.person.case_dates.earliest_case.law_term + ", " + d.person.case_dates.earliest_case.year + "</td>" +
            "</tr>" +
            "<tr>" +
            "<td><b>Amercement Count:</b></td>" +
            "<td>" +d.person.counts.monetary.amercement_count + "</td>" +
            "<td><b>Fine Count:</b></td>" +
            "<td>" + d.person.counts.monetary.fine_count + "</td>" +
            "<td><b>Damages Count:</b></td>" +
            "<td>" + d.person.counts.monetary.damage_count + "</td>" +
            "</tr>" +
            "<tr>" +
            "<td><b>Chevage Count:</b></td>" +
            "<td>" + d.person.counts.monetary.chevage_count + "</td>" +
            "<td><b>Impercamenta Count:</b></td>" +
            "<td>" + d.person.counts.monetary.impercamentum_count + "</td>" +
            "<td><b>Heriot Count:</b></td>" +
            "<td>" + d.person.counts.monetary.heriot_count + "</td>" +
            "</tr>" +
            "</table>"
    }

    $(document).ready(function() {
        var url = window.location.pathname;
        var id = url.split('/').reverse()[1];
        var url = "/api/litigants/?include[]=land&filter{land.id}=" + id + "&include[]=person.village&include[]=case.session&include[]=person.counts";
        var table = $('#tenant_history').DataTable({
            scrollX: true,
            ajax: {
                processing: true,
                url: url,
                type: "GET",
                dataSrc: "litigants.",
            },
            "order": [[4, "asc"]],
            "columns": [
                {
                    "class": "details-control",
                    "orderable": "false",
                    "data": null,
                    "defaultContent": "",
                    "render": function () {
                        return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                    },
                    width: "15px"
                },
                {data: "person",
                    render: {
                        display: function (data, type, row, col) {
                            url = Urls.person(data.id);
                            return "<a href='" + url + "'>" + data.full_name + "</a>";
                        },
                        sort: "full_name",
                    }
                },
                {data: "person.village.name"},
                {data: "case",
                    render: {
                        display: function(data, type, row, col) {
                            url = Urls.case(data.id)
                            return "<a href='" + url + "'>" + data.id + "</a>";
                        },
                        sort: "session.date"
                    }
                },
                {data: "case.session",
                    render: {
                        display: formatSessionDateNoVillage,
                        sort: "date"
                    }
                },
                {data: "role.role"},
                {data: "land_villeinage"},
                {data: "fine",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        if (rowData.fine === true){
                            $(nTd).html(rowData.fine.amount + " (" + rowData.fine.in_denarius + "d.)")
                        } else {
                            $(nTd).html("")
                        }
                    }
                },
                {data: "heriot",
                    fnCreatedCell: function(nTd, cellData, rowData, row, col){
                        if (rowData.heriot === true){
                            $(nTd).html(rowData.heriot.amount + " (" + rowData.heriot.in_denarius + "d.)")
                        } else {
                            $(nTd).html("")
                        }
                    }
                },
                {data: "land_notes"},
            ]
        });

        $('#tenant_history tbody').on('click', 'td.details-control', function(){
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            } else{
                row.child( format( row.data() ) ).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
            }
        });

    });
</script>

{% endblock %}